@font-face {
  font-family: "Chap-Medium";
  src: url("../fonts/Chap-Medium.eot");
  src: local("Chap-Medium Regular"), local("Chap-Medium"),
    url("../fonts/Chap-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Chap-Medium.woff") format("woff"),
    url("../fonts/Chap-Medium.woff2") format("woff2"),
    url("../fonts/Chap-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.eot");
  src: local("DM Sans Regular"), local("DMSans-Regular"),
    url("../fonts/DMSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DMSans-Regular.woff2") format("woff2"),
    url("../fonts/DMSans-Regular.woff") format("woff"),
    url("../fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Medium.eot");
  src: local("DM Sans Medium"), local("DMSans-Medium"),
    url("../fonts/DMSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DMSans-Medium.woff2") format("woff2"),
    url("../fonts/DMSans-Medium.woff") format("woff"),
    url("../fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Arsenal";
  src: url("../fonts/Arsenal-Regular.eot");
  src: local("DM Sans Medium"), local("Arsenal-Regular"),
    url("../fonts/Arsenal-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Arsenal-Regular.woff2") format("woff2"),
    url("../fonts/Arsenal-Regular.woff") format("woff"),
    url("../fonts/Arsenal-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSans-Regular"), local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSans-Medium"), local("OpenSans-Medium"),
    url("../fonts/OpenSans-Medium.woff2") format("woff2"),
    url("../fonts/OpenSans-Medium.woff") format("woff"),
    url("../fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}