* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea,
input,
button {
  font-family: "DM Sans";
}

html,
body {
  font-family: "DM Sans";
  height: 100%;
}

.svg-icons {
  display: none;
}

.render {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
}

svg {
  stroke: $white;
  fill: transparent;
}

.wrapper {
  max-width: calc(#{$screen-mobile} + #{$container-padding});
  margin: 0 auto;
  padding: 0 #{$container-padding};
  @include screen(tablet) {
    max-width: calc(#{$screen-tablet} + #{$container-padding});
  }
  @include screen(laptop) {
    max-width: calc(#{$screen-laptop} + #{$container-padding});
  }
  @include screen(desktop) {
    max-width: calc(#{$screen-desktop} + #{$container-padding});
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}