$container-padding: 16px;

$screen-desktop: 1536px;
$screen-laptop: 1240px;
$screen-tablet: 768px;
$screen-mobile: 343px;

$white: #ffffff;
$untold: #e9ac60;
$text: #001b23;
$shice: #92c7d0;
$green-200: #668d99;
$green-300: #1f677d;
$green-300: #0d5c74;
$green-400: #224e5b;
$fathom: #004155;