$transition-default: 0.3s;
$transition-slow: 0.8s;

$container-padding: 16px;

$screen-desktop: 1536px;
$screen-laptop: 1240px;
$screen-tablet: 768px;
$screen-mobile: 375px;

$mobile-wrapper: 343px;

$black: #000000;
$white: #ffffff;
$white-50: #dfdfdf;
$white-100: #f2f7f9;
$white-150: #e2e2e2;
$white-200: #9ab6be;
$white-250: #d7e4e8;
$white-300: #d9ebf2;
$white-350: #c1c1c1;
$white-400: #8da4a8;
$white-450: #7f888b;
$untold-100: #eaa045;
$untold-400: #e9ac60;
$text: #001b23;
$shice: #92c7d0;
$gray-100: #d0d0d0;
$gray-200: #cdcdcd;
$green-100: #205565;
$green-200: #668d99;
$green-300: #1f677d;
$green-400: #0d5c74;
$green-500: #224e5b;
$fathom: #004155;
$red-400: #ff0000;