@mixin screen($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (min-width: $screen-desktop) {
      @content;
    }
  }

  @if $breakpoint == laptop {
    @media only screen and (min-width: $screen-laptop) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: $screen-tablet) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (min-width: $screen-mobile) {
      @content;
    }
  }
}

@mixin line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin line-clamp-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin line-clamp-7 {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin line-clamp-8 {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin line-clamp-10 {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin line-clamp-12 {
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin button-border {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $fathom;
  color: $fathom;
  border-radius: 100px;
  padding: 10px 17px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  width: 100%;
  @include screen(mobile) {
    padding: 17px 30px;
  }
  @include screen(tablet) {
    width: auto;
  }
  @include screen(laptop) {
    padding: 17px 30px;
  }
}