.booking-details {
  &__subtitle {
    margin-top: 16px;
    color: $fathom;
    @include sans-base-medium;
    &-mt {
      margin-top: 60px;
    }
  }
  &__title {
    color: $fathom;
    margin-top: 20px;
    @include chap-xs;
    &-mt {
      margin-top: 42px;
    }
  }
  &__inputs {
    row-gap: 42px;
    display: grid;
    column-gap: 48px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @include screen(tablet) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    &-small {
      row-gap: 12px;
    }
    &-third {
      @include screen(tablet) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
    &-one {
      @include screen(tablet) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
    &-mt {
      margin-top: 18px;
    }
  }
  &__input {
    position: relative;
    display: flex;
    align-items: center;
    grid-column: span 1 / span 1;
    border-bottom: 1px solid $green-200;
    input {
      @include sans-md;
      padding: 16px 0;
      width: 100%;
      &.error {
        border-color: $red-400;
      }
    }

    &-phone,
    &-email {
      // display: none;
    }
    &-phone {
      input {
        padding-left: 58px;
      }
    }
    &-full {
      grid-column: span 1 / span 1;
      @include screen(tablet) {
        grid-column: span 2 / span 2;
      }
      textarea {
        height: 57px;
        padding: 16px 0;
        width: 100%;
        resize: none;
        border-bottom: 1px solid $green-200;
      }
    }
    &-icone {
      gap: 10px;
    }
    &-big {
      grid-column: span 3;
    }
    &-small {
      grid-column-end: 1;
    }
    &-mt {
      margin-top: 42px;
    }
    &.active {
      display: flex;
    }
  }
  &__note {
    color: $green-200;
    @include sans-sm-medium;
  }
  &__dropdown {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    position: absolute;
    &__current {
      display: flex;
      align-items: center;
      gap: 8px;
      &.active {
        .popup__arrow {
          transform: rotate(180deg);
        }
      }
    }
    &__flag {
      stroke: transparent;
      max-width: 24px;
      max-height: 24px;
    }
    &__country {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      transition: background-color $transition-default;
      padding: 4px 8px;
      @include screen(laptop) {
        &:hover {
          background-color: $white-300;
        }
      }
      &.active {
        background-color: $white-300;
      }
    }
    &__list {
      max-height: 104px;
      overflow-y: auto;
      position: absolute;
      padding: 4px 0;
      top: 32px;
      left: 0;
      background-color: $white;
      border-radius: 4px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      transition:
        opacity $transition-default,
        visibility $transition-default,
        z-index $transition-default;
      &.active {
        opacity: 1;
        visibility: visible;
        z-index: 3;
      }
      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
  &__label {
    margin-top: 16px;
    padding-left: 40px;
    cursor: pointer;
    position: relative;
    display: block;
    @include screen(tablet) {
      margin-top: 42px;
    }
    &:first-child {
      margin-top: 0;
    }
    input {
      position: absolute;
      visibility: hidden;
      top: 0;
      left: 0;
      &:checked + span {
        &:before {
          border-color: $fathom;
          background-color: $fathom;
        }
        &:after {
          opacity: 1;
        }
      }
    }
    span {
      display: flex;
      align-items: center;
      position: relative;
      color: $text;
      @include sans-md;
      &:before {
        content: "";
        border-radius: 2px;
        height: 24px;
        width: 24px;
        background-color: transparent;
        border: 1px solid $green-200;
        position: absolute;
        left: -40px;
        transition: $transition-default;
      }
      &:after {
        content: url("/assets/images/check.svg");
        height: 12px;
        width: 12px;
        position: absolute;
        left: -34px;
        bottom: 20px;
        transition: $transition-default;
        opacity: 0;
      }
      a {
        position: relative;
        margin: 0 5px;
        &:before {
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          bottom: 7px;
          left: 0;
          background-color: transparent;
          transition: background-color $transition-default;
        }
        &:hover {
          &:before {
            background-color: $text;
          }
        }
      }
    }
    &:hover {
      span {
        &:before {
          border-color: $green-200;
        }
      }
    }
  }
  &__calendar {
    stroke: $fathom;
    fill: $fathom;
  }
}