.brochure {
  display: grid;
  gap: 32px;
  padding: 40px 0;
  border-bottom: 1px solid $green-200;
  @include screen(tablet) {
    grid-template-columns: 270px 1fr;
    gap: 40px;
    padding: 60px 0;
  }
  @include screen(laptop) {
    grid-template-columns: 300px 1fr;
    gap: 108px;
  }
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  &__image {
    width: 100%;
    img {
      width: 100%;
    }
  }
  &__title {
    color: $fathom;
    text-transform: uppercase;
    @include chap-xs;
    @include screen(laptop) {
      @include chap-sm;
    }
  }
  &__text {
    margin-top: 8px;
    @include sans-sm;
    @include screen(laptop) {
      margin-top: 32px;
      @include sans-md;
    }
  }
  &__buttons {
    display: flex;
    margin-top: 24px;
    gap: 16px;
    flex-direction: column;
    @include screen(tablet) {
      margin-top: 58px;
      gap: 24px;
      align-items: center;
      flex-direction: row;
    }
  }
}