.flip-slider {
  overflow: hidden;
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__images {
    position: absolute;
    right: 0;
    z-index: 2;
    width: calc(50% + 72px);
  }
  &__list {
    .splide__list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    &__item {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      color: $white;
      @include sans-lg-medium;
    }
    &__icon {
      opacity: 0;
      transition: opacity 0.3s;
      fill: $white;
    }
  }
  &__content {
    height: 100%;
    width: 50%;
    display: flex;
    gap: 160px;
    flex-direction: column;
    justify-content: space-between;
    padding: 84px 180px 120px 0;
    position: relative;
    background-color: $fathom;
    &:before {
      content: "";
      position: absolute;
      left: -999px;
      top: 0;
      width: 999px;
      right: 0;
      height: 100%;
      background-color: $fathom;
    }
  }
  &-reversed {
    .flip-slider {
      &__wrapper {
        justify-content: flex-end;
      }
      &__content {
        padding-left: 147px;
        order: 2;
        &:before {
          content: "";
          position: absolute;
          right: -999px;
          top: 0;
          width: 999px;
          left: auto;
          height: 100%;
          background-color: $fathom;
        }
      }
      &__list,
      &__bottom {
        padding-left: 71px;
      }
      &__images {
        order: -1;
        right: auto;
        left: 0;
      }
    }
  }
  &__top {
    display: flex;
    flex-direction: column;
    gap: 54px;
  }
  .splide__track--nav > .splide__list > .splide__slide {
    border: none;
    &.is-active {
      .flip-slider__list__icon {
        opacity: 1;
      }
    }
  }
  &__image {
    img {
      max-height: 563px;
      min-height: 563px;
      width: 100%;
      display: flex;
      object-fit: cover;
    }
  }
}