.header {
  background-color: $fathom;
  &__top {
    padding: 25px 0;
    border-bottom: 1px solid $green-400;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__search {
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
    &:hover {
      background-color: $green-300;
    }
  }
  &__contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__phone {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    transition: background-color 0.3s;
    &:hover {
      background-color: $green-300;
    }
    svg {
      min-width: 24px;
    }
    span {
      color: $white;
      @include sans-sm-medium;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  &__link {
    display: flex;
    transition: background-color 0.3s;
    align-items: center;
    padding: 20px 0;
    span {
      color: $white;
      text-transform: uppercase;
      display: inline-block;
      @include sans-sm-medium;
    }
    &:hover {
      .header__arrow {
        transform: rotate(180deg);
      }
    }
  }
  &__submenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    .header__link {
      padding: 10px 20px;
      border-radius: 100px;
      &:hover {
        background-color: $green-300;
      }
      span {
        @include sans-base-medium;
      }
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    svg {
      min-width: 24px;
    }
  }
  &__arrow {
    width: 16px;
    height: 16px;
    margin-left: 2px;
    transition: transform 0.3s;
    svg {
      min-width: 16px;
    }
  }
  &__lang {
    position: relative;
  }
  &__toggle {
    display: flex;
    align-items: center;
    border-radius: 100px;
    transition: background-color 0.3s;
    padding: 10px 20px;
    &.active {
      background-color: $green-300;
      .header__lang__arrow {
        transform: rotate(180deg);
      }
    }
    &:hover {
      background-color: $green-300;
      .header__lang__arrow {
        transform: rotate(180deg);
      }
    }
    span {
      margin-left: 8px;
      margin-right: 2px;
      display: inline-block;
      color: $white;
      @include sans-sm-medium;
    }
    svg {
      transition: transform 0.3s;
    }
  }
  &__languages {
    display: none;
    position: absolute;
    padding: 4px 0;
    top: 52px;
    width: 100%;
    left: 0;
    background-color: $white;
    border-radius: 4px;
    min-width: 150px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    a {
      color: $text;
      padding: 8px 40px 8px 20px;
      display: flex;
      align-items: center;
      gap: 8px;
      transition: background-color 0.3s;
      @include sans-xs;
      &:hover {
        background-color: $white-100;
      }
      svg {
        display: none;
        position: absolute;
        right: 20px;
      }
      &.current {
        svg {
          display: block;
        }
      }
    }
  }
}