.hero-filter {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  z-index: 100;
  opacity: 0;
  transition: opacity $transition-default;
  transition-delay: $transition-default * 2;
  &.active {
    opacity: 1;
  }
  @include screen(laptop) {
    bottom: 70px;
  }
  &__wrapper {
    background-color: $white;
    border-radius: 100px;
    border: 1px solid $white-350;
    padding: 8px 8px 8px 0;
    display: flex;
    align-items: center;
    max-width: 1093px;
    margin: 0 auto;
    height: 60px;
    position: relative;
    @include screen(laptop) {
      height: auto;
    }
  }
  &__arrow {
    min-width: 16px;
    fill: transparent;
    stroke: $white-450;
    transition: transform $transition-default;
  }
  &__input {
    gap: 8px;
    display: flex;
    align-items: center;
    color: $white-450;
    position: relative;
    @include sans-base;
    .easepick-wrapper {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      &.active {
        opacity: 1;
        visibility: visible;
        z-index: 2;
      }
    }
    input {
      width: 0;
      height: 0;
      position: absolute;
      opacity: 0;
      &#datepicker {
        color: $text;
        height: auto;
        cursor: pointer;
        opacity: 1;
        position: absolute;
        padding: 0 32px;
        background-color: transparent;
        left: 0;
        width: 282px;
        @include screen(tablet) {
          width: 630px;
        }
        @include screen(laptop) {
          width: 282px;
        }
        &.selected {
          @include sans-2xs;
          @include screen(tablet) {
            @include sans-base;
          }
        }
      }
    }
    span {
      user-select: none;
      &.selected {
        color: $text;
      }
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 0;
    height: 44px;
    &.active {
      display: flex;
      .hero-filter__arrow {
        transform: rotate(180deg);
      }
    }
  }
  &__icon {
    min-width: 24px;
  }
  &__scroll {
    left: 0;
    width: 100%;
    position: absolute;
    max-height: 108px;
    overflow-y: auto;
    top: 8px;
    background-color: $white;
  }
  &__list {
    opacity: 0;
    overflow: hidden;
    left: 0;
    z-index: -1;
    background-color: $white;
    visibility: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    height: 124px;
    padding: 8px 0;
    width: 100%;
    position: absolute;
    border-radius: 12px;
    top: 60px;
    transition:
      opacity $transition-default,
      visibility $transition-default,
      z-index $transition-default;
    &-bottom {
      top: auto;
      bottom: 62px;
      @include screen(laptop) {
        bottom: auto;
      }
    }
    @include screen(laptop) {
      top: 72px;
    }
    &.active {
      opacity: 1;
      visibility: visible;
      z-index: 3;
    }
  }
  &__submit {
    padding: 10px;
    left: auto;
    transform: translateX(0);
    position: absolute;
    right: 8px;
    display: none;
    @include screen(laptop) {
      display: block;
      position: static;
      flex: 1;
      padding: 17px;
      width: 100%;
    }
    .button__text {
      display: none;
      @include screen(laptop) {
        display: block;
      }
    }
    svg {
      stroke: $white;
      @include screen(laptop) {
        display: none;
      }
    }
  }
  &__item {
    transition: background-color $transition-default;
    padding: 6px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    @include sans-sm;
    @include screen(laptop) {
      &:hover {
        background-color: $white-300;
      }
    }
    svg {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      right: 20px;
      transition:
        opacity $transition-default,
        visibility $transition-default;
    }
    &.active {
      svg {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__label {
    padding: 0 30px;
    position: relative;
    position: absolute;
    width: 100%;
    display: none;
    &.active {
      display: block;
    }
    @include screen(laptop) {
      width: auto;
      position: relative;
      border-left: 1px solid rgba($white-450, 0.4);
      display: block;
    }
    &:first-child {
      padding-left: 0;
      border-left: 0;
    }
    &-destination {
      padding-right: 68px;
      @include screen(laptop) {
        padding-right: 30px;
      }
      .hero-filter {
        &__container {
          padding-left: 24px;
          @include screen(laptop) {
            min-width: 250px;
          }
        }
        &__input {
          pointer-events: none;
        }
        &__icon {
          fill: $untold-400;
          stroke: $untold-400;
        }
      }
    }
    &-ship {
      padding: 0 68px;
      @include screen(laptop) {
        padding: 0 30px;
      }
      .hero-filter {
        &__input {
          pointer-events: none;
        }
        &__container {
          @include screen(laptop) {
            min-width: 200px;
          }
        }
        &__icon {
          fill: $untold-400;
          stroke: transparent;
        }
      }
    }
    &-nights {
      padding: 0 68px;
      @include screen(laptop) {
        padding: 0 30px;
      }
      .hero-filter {
        &__input {
          pointer-events: none;
        }
        &__container {
          @include screen(laptop) {
            min-width: 154px;
          }
        }
        &__icon {
          fill: $untold-400;
          stroke: transparent;
        }
      }
    }
    &-booking {
      top: 7px;
      padding-right: 8px;
      padding-left: 60px;
      border-left: none;
      width: 100%;
      @include screen(laptop) {
        padding-right: 0;
        top: auto;
        padding-left: 0;
      }
      &.active {
        display: flex;
      }
      .hero-filter__submit {
        display: block;
        flex: auto;
        position: relative;
        right: 0;
        .button__text {
          display: block;
        }
        @include screen(laptop) {
          flex: 1;
        }
      }
    }
    &-guests {
      padding: 0 68px;
      @include screen(laptop) {
        padding: 0 30px;
      }
      .hero-filter {
        &__input {
          pointer-events: none;
        }
        &__container {
          @include screen(laptop) {
            min-width: 154px;
          }
        }
        &__icon {
          fill: $untold-400;
          stroke: transparent;
        }
      }
    }
    &-price {
      padding: 0 68px;
      @include screen(laptop) {
        padding: 0 30px;
      }
      .hero-filter {
        &__input {
          pointer-events: none;
        }
        &__container {
          @include screen(laptop) {
            min-width: 154px;
          }
        }
        &__icon {
          fill: transparent;
          stroke: $untold-400;
        }
      }
      .card__label {
        @include sans-3xs;
      }
      .card__price {
        margin-top: 0;
        color: $text;
        @include sans-base-medium;
      }
      .card__perperson {
        color: $green-200;
        max-width: 100%;
        margin-bottom: 2px;
        @include screen(laptop) {
          margin-bottom: 0;
        }
      }
    }
    &-calendar {
      padding: 0 68px;
      @include screen(laptop) {
        padding: 0 20px 0 30px;
      }
      .hero-filter {
        &__container {
          @include screen(laptop) {
            min-width: 260px;
          }
          .hero-filter__input {
            padding: 0;
            #datepicker {
              padding: 8px 32px;
              &.selected {
                padding: 10px 32px 8px;
                @include screen(tablet) {
                  padding: 0 32px;
                }
              }
            }
          }
        }
        &__icon {
          fill: $untold-400;
          stroke: transparent;
        }
      }
    }
  }
  &__prev,
  &__next,
  &__search {
    padding: 10px;
    transform: translateX(0);
    height: 44px;
    width: 44px;
    position: absolute;
    top: 0;
    @include screen(laptop) {
      display: none;
      height: auto;
      width: auto;
    }
  }
  &__prev {
    left: 8px;
  }
  &__next,
  &__search {
    right: 8px;
  }
}