.news-block {
  margin-top: 32px;
  @include screen(tablet) {
    margin-top: 70px;
  }
  &-no-margin {
    margin: 0;
  }
  &__wrapper {
    display: flex;
    gap: 0;
    @include screen(tablet) {
      gap: 40px;
    }
  }
  .splide {
    width: calc(100% + 16px);
    &__track {
      overflow: visible;
    }
    &__slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &.is-initialized:not(.is-active) .splide__list {
    @include screen(tablet) {
      display: grid;
    }
  }
  &__button {
    margin-top: 32px;
    @include screen(tablet) {
      margin-top: 70px;
    }
  }
  &__card {
    position: relative;
    grid-row: span 2 / span 2;
    grid-column: span 1 / span 1;
    @include screen(tablet) {
      min-height: 100%;
      overflow: hidden;
    }
    &-small {
      grid-row: span 1 / span 1;
      grid-column: span 1 / span 1;
      @include screen(tablet) {
        min-height: 220px;
        max-height: 220px;
      }
    }
  }
}