.partnerships {
  padding-top: 48px;
  &-no-padding {
    padding-top: 0;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include screen(tablet) {
      gap: 80px;
    }
    @include screen(laptop) {
      gap: 124px;
    }
  }
  &__button {
    margin-top: 40px;
    @include screen(laptop) {
      margin-top: 70px;
    }
  }
}