.promo {
  height: 100%;
  position: relative;
  &__image {
    overflow: hidden;
    @include screen(tablet) {
      height: 100%;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      max-height: 396px;
      transition: transform $transition-slow;
      @include screen(laptop) {
        max-height: 100%;
        min-height: 394px;
      }
    }
  }
  @include screen(laptop) {
    &:hover {
      .promo__image {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  &__content {
    position: relative;
    width: 100%;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    @include screen(tablet) {
      padding: 20px 24px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.35);
    }
  }
  &__name {
    margin-top: 12px;

    @include sans-lg;
    @include line-clamp-2;
    @include screen(tablet) {
      color: $white;
    }
  }
  &__link {
    margin-top: 12px;
    text-transform: uppercase;
    color: $white;
    border-bottom: 1px solid transparent;
    transition: border-color $transition-default;
    display: none;
    @include sans-sm-med;
    @include screen(tablet) {
      display: inline-block;
    }
  }
  &:hover {
    .promo {
      &__link {
        border-color: $white;
      }
    }
  }
  &__date {
    color: $white-400;
    @include sans-base;
    @include screen(tablet) {
      color: $white;
      @include sans-md;
    }
  }
}