.ship-about {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include screen(laptop) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__title {
    color: $fathom;
    @include chap-base;
    @include screen(laptop) {
      @include chap-2lg;
    }
  }
  &__description {
    @include sans-base;
    @include screen(laptop) {
      max-width: 640px;
      @include sans-md;
    }
  }
  &__video {
    position: relative;
    margin-top: 44px;
    @include screen(laptop) {
      margin-top: 55px;
    }
  }
  &__image {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: $black;
      opacity: 0.3;
    }
  }
  &__button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include screen(laptop) {
      width: 150px;
      height: 150px;
    }
    svg {
      width: 30px;
      height: 28px;
      fill: $fathom;
      stroke: transparent;
      margin-left: 1px;
      @include screen(laptop) {
        width: 72px;
        height: 66px;
        margin-left: 14px;
      }
    }
  }
}