.subscribe {
  max-width: 682px;
  margin: 0 auto;
  &__title {
    text-align: center;
    color: $fathom;
    text-transform: uppercase;
    @include sans-base-medium;
  }
  &__text {
    max-width: 520px;
    text-align: center;
    margin: 24px auto 0;

    @include sans-md;
  }
  &__form {
    margin: 24px auto 0;
    @include screen(tablet) {
      margin: 56px auto 0;
    }
  }
  &__input {
    outline: none;
    width: 100%;
    border-radius: 100px;
    border: 1px solid $white-250;
    background: $white;

    padding: 14px 27px;
    @include sans-base;
    @include screen(tablet) {
      padding: 22px 200px 22px 24px;
    }
    &::placeholder {
      color: $white-400;
    }
  }
  &__label {
    position: relative;
    display: block;
    height: 100%;
  }
  .button {
    margin-top: 16px;
    @include screen(tablet) {
      margin-top: 0;
      position: absolute;
      transform: translateX(0);
      transform: translateY(-50%);
      top: 50%;
      right: 8px;
      left: auto;
    }
    @include screen(laptop) {
      &:hover {
        border-color: $fathom;
      }
    }
  }
  &__policy {
    margin-top: 24px;
    color: $green-200;
    @include sans-sm-medium;
    a {
      color: $fathom;
      position: relative;
      &:before {
        position: absolute;
        transition: opacity $transition-default;
        content: "";
        width: 100%;
        opacity: 0;
        height: 1px;
        background-color: $fathom;
        left: 0;
        bottom: 2px;
      }
      @include screen(laptop) {
        &:hover {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}