.travel-agents {
  margin-top: 40px;
  @include screen(laptop) {
    margin-top: 50px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    @include screen(laptop) {
      display: grid;
      grid-template-columns: 472px 1fr;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid $green-200;
    border-radius: 4px;
  }
  &__input {
    width: 100%;
    padding: 8px 16px;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
  }
  &__icon {
    stroke: $fathom;
  }
  &__result {
    margin-top: 28px;
    color: $fathom;
    @include sans-3xl;
  }
  &__list {
    padding-right: 20px;
    width: 100%;
    max-height: 520px;
    margin-top: 28px;
    overflow-y: auto;
    @include screen(laptop) {
      max-height: 577px;
    }
  }
  &__item {
    margin-top: 44px;
    max-width: 310px;
    &:first-child {
      margin-top: 0;
    }
    address {
      font-style: normal;
      margin-top: 16px;
      display: inline-block;
      @include sans-lg;
    }
    a {
      display: inline-block;
      margin-top: 12px;
      transition: color $transition-default;
      @include sans-lg;
      &:hover {
        @include screen(laptop) {
          color: $fathom;
        }
      }
    }
  }
  &__title {
    color: $fathom;
    @include chap-sm-xs;
  }
  &__subtitle {
    margin-top: 12px;
    text-transform: uppercase;
    color: $green-200;
    @include sans-base-medium;
  }
  &__map {
    canvas {
      aspect-ratio: 1 / 1;
      width: 100%;
      height: 100%;
      background-color: $gray-200;
    }
  }
}