include ../../mixins/subheading
.sidebar.sidebar-partners
  .sidebar-partners__block
    +subheading('Contact Us', '', '')
    .sidebar-partners__item
      .sidebar-partners__subtitle TRAVEL PARTNER ENQUIRES
      a(href="mailto:sales@swanhellenic.com").sidebar-partners__link sales@swanhellenic.com
    .sidebar-partners__item
      .sidebar-partners__subtitle SALES SUPPORT
      a(href="mailto:support@swanhellenic.com").sidebar-partners__link support@swanhellenic.com
  .sidebar-partners__block
    +subheading('Swan Hellenic Team', '', '')
    .sidebar-partners__item
      h3.sidebar-partners__title VP global marketing
      .sidebar-partners__subtitle PATRIZIA IANTORNO
      a(href="mailto:patrizia.iantorno@swanhellenic.com").sidebar-partners__link patrizia.iantorno@swanhellenic.com
    .sidebar-partners__item
      h3.sidebar-partners__title PR
      .sidebar-partners__subtitle Renato Bodi
      a(href="mailto:renato.bodi@twentytwenty.biz").sidebar-partners__link renato.bodi@twentytwenty.biz