include ../../mixins/button
.sidebar.sidebar-booking
  form(action="#").sidebar__form
    h3.sidebar__title Summary
    .sidebar__name.sidebar__input 
      input(type="text" value="Arctic Islands & Fjords" name="name")
      span Arctic Islands & Fjords
    .sidebar__number.sidebar__input 
      input(type="text" value="V0623030520" name="uid")
      span V0623030520
    .sidebar__data.sidebar__input 
      input(type="text" value="Ushuaia - Cape Town" name="destanation")
      svg(viewBox="0 0 24 24" width="24" height="24")
        use(xlink:href="#svg-location")
      span Ushuaia - Cape Town
    .sidebar__data.sidebar__input 
      input(type="text" value="SH Vega" name="ship")
      svg(viewBox="0 0 24 25" width="24px" height="24px")
        use(xlink:href="#svg-ship")
      span SH Vega
    .sidebar__data.sidebar__input 
      input(type="text" value="20 Nights" name="nights")
      svg(viewBox="0 0 24 25" width="24px" height="24px")
        use(xlink:href="#svg-calendar")
      span 20 Nights
      .sidebar__date.sidebar__input
        input(type="text" value="05.03.23 - 25.03.23" name="date")
        span 05.03.23 - 25.03.23
    .sidebar__img
      img(src="/assets/images/cruise-page/item-6.png", alt="item-6")
    .sidebar__subtitle
      span your stateroom
    .sidebar__room.sidebar__input 
      input(type="text" value="Oceanview D4" name="room")
      span Oceanview D4
    .sidebar__wrapper
      .sidebar__description
        .sidebar__heading NO
        .sidebar__text.sidebar__input
          input(type="text" value="402" name="NO")
          span 402
      .sidebar__description
        .sidebar__heading Sleeps
        .sidebar__text.sidebar__input
          input(type="text" value="2" name="Sleeps")
          span 2
      .sidebar__description
        .sidebar__heading Area
        .sidebar__text.sidebar__input
          input(type="text" value="19 m2" name="Area")
          span 19 m2
      .sidebar__description
        .sidebar__heading GUESTS
        .sidebar__text.sidebar__input
          input(type="text" value="2" name="GUESTS")
          span 2
      .sidebar__description
        .sidebar__heading DESK
        .sidebar__text.sidebar__input
          input(type="text" value="4" name="DESK")
          span 4
    .sidebar__wrapper
      .sidebar__description
        .sidebar__heading Price
        .sidebar__text.sidebar__input
          input(type="text" value="€ 23,078" name="Price")
          span € 23,078
    +button('button-brown sidebar__button sidebar__button-submit button-no-center', 'submit', 'CONFIRM & CONTINUE', '', '')
    .sidebar__note Please select a stateroom & click CONFIRM & CONTINUE to submit your booking enquiry.
  .sidebar__callback
    span 9AM - 5.30PM GMT
    a.sidebar__phone(href="tel:+49 (0) 211 13 866 123")
      svg(viewBox="0 0 25 25" width="24px" height="24px")
        use(xlink:href="#svg-phone")
      span +49 (0) 211 13 866 123
  +button('sidebar__button-green button-green button-no-center', 'button', 'ARRANGE A CALLBACK', '', '')