include ../../mixins/button
.sidebar.sidebar-cruises
  .popup__close-mob
    button.popup__icon(type="button" aria-label="close")
      svg(viewBox="0 0 24 24" width="24px" height="24px")
        use(xlink:href="#svg-x-mark")
  .sidebar__title FIND YOUR CRUISE
  form.sidebar__filter(action="#")
    .sidebar__blocks
      .sidebar__block
        .sidebar__subtitle
          span Number of Guests
          button.sidebar__icon(type="button")
            svg(viewBox="0 0 10 10" width="10px" height="10px")
              use(xlink:href="#svg-question-mark")
            .sidebar__tip If you are interested in more than one cabin, or are looking for child fares, please call <a href="tel:+49 (0) 211 13 866 123">+49 (0) 211 13 866 123</a>
        .sidebar__labels
          label.sidebar__label
            input(type="radio" name="guest" value="1")
            span 1
          label.sidebar__label
            input(type="radio" name="guest" value="2")
            span 2
          label.sidebar__label
            input(type="radio" name="guest" value="3+")
            span 3+
      .sidebar__block
        .sidebar__subtitle
          span Cruise types
        .sidebar__select.sidebar__select-types
          .sidebar__select__header
            .sidebar__select__scroller
              .sidebar__select__values
                .sidebar__select__value
                  input(type="text" name="cruise")
                  span Choose cruise types
            .sidebar__select__arrow
              svg(viewBox="0 0 16 16" width="16px" height="16px")
                use(xlink:href="#svg-arrow-down-small")
          .sidebar__select__list
            .sidebar__select__scroll.custom-scroll(data-scroll-lock-scrollable)
              label.sidebar__select__item.sidebar__select-type
                input(type="checkbox" name="type" value="Africa")
                span Africa
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              label.sidebar__select__item.sidebar__select-type
                input(type="checkbox" name="type" value="Antarctica")
                span Antarctica
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              label.sidebar__select__item.sidebar__select-type
                input(type="checkbox" name="type" value="Artic")
                span Artic
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              label.sidebar__select__item.sidebar__select-type
                input(type="checkbox" name="type" value="Australia & NZ")
                span Australia & NZ
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              label.sidebar__select__item.sidebar__select-type
                input(type="checkbox" name="type" value="Europe")
                span Europe
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              label.sidebar__select__item.sidebar__select-type
                input(type="checkbox" name="type" value="Japan")
                span Japan
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              label.sidebar__select__item.sidebar__select-type
                input(type="checkbox" name="type" value="Mediterranean")
                span Mediterranean
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              label.sidebar__select__item.sidebar__select-type
                input(type="checkbox" name="type" value="Ocean Voyages")
                span Ocean Voyages
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              label.sidebar__select__item.sidebar__select-type
                input(type="checkbox" name="type" value="Pacific Islands")
                span Pacific Islands
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              label.sidebar__select__item.sidebar__select-type
                input(type="checkbox" name="type" value="South America")
                span South America
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
      .sidebar__block
        .sidebar__subtitle
          span Destination
        .sidebar__select.sidebar__select-destination
          .sidebar__select__header
            .sidebar__select__values
              .sidebar__select__value
                input(type="text" name="destination")
                span Choose destination
            .sidebar__select__arrow
              svg(viewBox="0 0 16 16" width="16px" height="16px")
                use(xlink:href="#svg-arrow-down-small")
          .sidebar__select__list
            .sidebar__select__scroll.custom-scroll(data-scroll-lock-scrollable)
              .sidebar__select__item
                span Africa
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Antarctica
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Artic
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Australia & NZ
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Europe
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Japan
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Mediterranean
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Ocean Voyages
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Pacific Islands
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span South America
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
      .sidebar__block
        .sidebar__subtitle
          span Departing port
        .sidebar__select.sidebar__select-departing_port
          .sidebar__select__header
            .sidebar__select__values
              .sidebar__select__value
                input(type="text" name="departing_port")
                span Choose departing port
            .sidebar__select__arrow
              svg(viewBox="0 0 16 16" width="16px" height="16px")
                use(xlink:href="#svg-arrow-down-small")
          .sidebar__select__list
            .sidebar__select__scroll.custom-scroll(data-scroll-lock-scrollable)
              .sidebar__select__item
                span Africa
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Antarctica
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Artic
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Australia & NZ
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Europe
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Japan
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Mediterranean
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Ocean Voyages
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span Pacific Islands
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span South America
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
      .sidebar__block
        .sidebar__subtitle
          span Departing date
        .sidebar__labels.sidebar__labels-years
          label.sidebar__label
            input(type="radio" name="year" value="2023")
            span 2023
          label.sidebar__label
            input(type="radio" name="year" value="2024")
            span 2024
          label.sidebar__label
            input(type="radio" name="year" value="2025")
            span 2025
        .sidebar__select.sidebar__select-months
          .sidebar__select__header
            .sidebar__select__values
              .sidebar__select__value
                input(type="text" name="month")
                span Choose month
            .sidebar__select__arrow
              svg(viewBox="0 0 16 16" width="16px" height="16px")
                use(xlink:href="#svg-arrow-down-small")
          .sidebar__select__list
            .sidebar__select__scroll.custom-scroll(data-scroll-lock-scrollable)
              .sidebar__select__item
                span January
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span February
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span March
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span April
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span May
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span June
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span July
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span August
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span September
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span October
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span November
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
              .sidebar__select__item
                span December
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
      .sidebar__block
        .sidebar__subtitle
          span Ship
        .sidebar__labels
          label.sidebar__label
            input(type="radio" name="ship" value="Vega")
            span Vega
          label.sidebar__label
            input(type="radio" name="ship" value="Minerva")
            span Minerva
          label.sidebar__label
            input(type="radio" name="ship" value="Diana")
            span Diana
    +button('button-green-transparent news-block__button sidebar__button sidebar__button-hidden', 'button', 'Clear filters', '', '', '', '')
    +button('button-green sidebar__button sidebar__button-submit', 'submit', 'Search', '', '', '', '')