.popup.popup-itinerary(data-popup="excursions")
  .popup__bg
  .popup__wrapper.popup-slider(data-slider="popup-slider")
    .popup__close
      button.popup__icon(type="button" aria-label="close")
        svg(viewBox="0 0 24 24" width="36px" height="36px")
          use(xlink:href="#svg-arrow-right")
    .popup__container
      .popup__heading
        .popup__subtitle Selected shore
        h2.popup__title Excursions
      .splide.popup-slider__track(class="popup-slider1__track")
        .splide__track
          .splide__list.popup__blocks
            .popup__block.splide__slide
              .popup__header
                .popup__svg
                  svg(viewBox="0 0 24 24" width="24px" height="24px")
                    use(xlink:href="#svg-tree")
                .popup__content
                  .popup__name Akureuri, godafoss & farmland
                  .popup__data
                    svg(viewBox="0 0 24 24" width="24px" height="24px")
                      use(xlink:href="#svg-alarm")
                    span 4 hrs
                  .popup__data
                    svg(viewBox="0 0 24 24" width="24px" height="24px")
                      use(xlink:href="#svg-include")
                    span Included
              ul.popup__list
                li Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                li Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                li Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
            .popup__block.splide__slide
              .popup__header
                .popup__svg
                  svg(viewBox="0 0 24 24" width="24px" height="24px")
                    use(xlink:href="#svg-paw")
                .popup__content
                  .popup__name Whale <br> Watching
                  .popup__data
                    svg(viewBox="0 0 24 24" width="24px" height="24px")
                      use(xlink:href="#svg-alarm")
                    span 3 hrs 45 min
                  .popup__data
                    svg(viewBox="0 0 24 24" width="24px" height="24px")
                      use(xlink:href="#svg-warning")
                    span Optional
              ul.popup__list
                li Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                li Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                li Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.