.popup-alert.popup-alert-success
  .popup-alert__icon
    svg(viewBox="0 0 24 24" width="42px" height="42px")
      use(xlink:href="#svg-check")
  .popup-alert__content
    h3.popup-alert__title Completed
    p.popup-alert__description Thank you for subscribing to our newsletter
    +button('button-no-padding button-green popup-alert__button', 'button', 'OK', '', '')