.popup-alert.popup-alert-error
  .popup-alert__icon
    svg(viewBox="0 0 24 24" width="42px" height="42px")
      use(xlink:href="#svg-x-mark")
  .popup-alert__content
    h3.popup-alert__title Error
    p.popup-alert__description Some fields are empty
    +button('button-no-padding button-green popup-alert__button', 'button', 'OK', '', '')