.popup.popup-map(data-popup="map")
  .popup__wrapper
    .popup__close
      button.popup__icon(type="button" aria-label="close")
        svg(viewBox="0 0 24 24" width="36px" height="36px")
          use(xlink:href="#svg-arrow-right")
    .popup__close-mob
      button.popup__icon(type="button" aria-label="close")
        svg(viewBox="0 0 24 24" width="24px" height="24px")
          use(xlink:href="#svg-x-mark")
    .popup__container
      .popup__heading
        .popup__subtitle YOUR
        h2.popup__title ITINERARY
      .popup__image
        img(src="/assets/images/popup-map.png" alt="popup-map")