.popup.popup-tags(data-popup="tags")
  .popup__wrapper
    .popup__close
      button.popup__icon(type="button" aria-label="close")
        svg(viewBox="0 0 24 24" width="36px" height="36px")
          use(xlink:href="#svg-arrow-right")
    .popup__close-mob
      button.popup__icon(type="button" aria-label="close")
        svg(viewBox="0 0 24 24" width="24px" height="24px")
          use(xlink:href="#svg-x-mark")
    .popup__container
      .tags__title Choose tags
      .tags__list.custom-scroll(data-scroll-lock-scrollable)
        button.tag(type="button" data-tag="1") Nature
        button.tag.active(type="button" data-tag="2") Press
        button.tag.active(type="button" data-tag="3") Ship
        button.tag(type="button" data-tag="4") Company improvement
        button.tag(type="button" data-tag="5") Name_Tag
        button.tag(type="button" data-tag="6") Name_Tag
        button.tag(type="button" data-tag="7") Name_Tag
        button.tag(type="button" data-tag="8") Name_Tag
        button.tag(type="button" data-tag="9") Name_Tag
        button.tag(type="button" data-tag="10") Name_Tag
        button.tag(type="button" data-tag="11") Name_Tag
        button.tag(type="button" data-tag="12") Name_Tag
        button.tag(type="button" data-tag="13") Name_Tag
        button.tag(type="button" data-tag="14") Name_Tag
        button.tag(type="button" data-tag="15") Name_Tag
        button.tag(type="button" data-tag="16") Name_Tag
        button.tag(type="button" data-tag="17") Name_Tag
        button.tag(type="button" data-tag="18") Name_Tag
        button.tag(type="button" data-tag="19") Name_Tag
        button.tag(type="button" data-tag="20") Name_Tag
        button.tag(type="button" data-tag="21") Name_Tag
      button.tags__clear(type="button") Clear tags