.popup.popup-map
  .popup__bg
  .popup__wrapper
    .popup__close
      button.popup__icon(type="button" aria-label="close")
        svg(width="36px" height="36px" viewBox="0 0 24 24")
          use(xlink:href="#svg-arrow-right")
    .popup__container
      .popup__heading
        .popup__subtitle YOUR
        h2.popup__title ITINERARY
      .popup__image
        img(src="/assets/images/popup-map.png" alt="popup-map")