.popup.popup-itinerary(data-popup="activities")
  .popup__wrapper.popup-slider(data-slider="popup-slider")
    .popup__close
      button.popup__icon(type="button" aria-label="close")
        svg(viewBox="0 0 24 24" width="36px" height="36px")
          use(xlink:href="#svg-arrow-right")
    .popup__close-mob
      button.popup__icon(type="button" aria-label="close")
        svg(viewBox="0 0 24 24" width="24px" height="24px")
          use(xlink:href="#svg-x-mark")
    .popup__container
      .popup__heading
        .popup__subtitle selected expedition
        h2.popup__title activites
      .splide.popup-slider__track.popup-slider0__track
        .splide__track
          .splide__list.popup__blocks
            .popup__block.splide__slide
              .popup__header
                .popup__svg
                  svg(viewBox="0 0 24 24" width="24px" height="24px")
                    use(xlink:href="#svg-tree")
                .popup__content
                  h4.popup__name Azodiac cruising
                  .popup__data
                    svg(viewBox="0 0 24 24" width="24px" height="24px")
                      use(xlink:href="#svg-include")
                    span Included
              .popup__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            .popup__block.splide__slide
              .popup__header
                .popup__svg.popup__svg-filled
                  svg(viewBox="0 0 24 24" width="24px" height="24px")
                    use(xlink:href="#svg-paw")
                .popup__content
                  h4.popup__name Hiking
                  .popup__data
                    svg(viewBox="0 0 24 24" width="24px" height="24px")
                      use(xlink:href="#svg-include")
                    span Included
              .popup__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            .popup__block.splide__slide
              .popup__header
                .popup__svg.popup__svg-filled
                  svg(viewBox="0 0 24 24" width="24px" height="24px")
                    use(xlink:href="#svg-waves")
                .popup__content
                  h4.popup__name Hiking
                  .popup__data
                    svg(viewBox="0 0 24 24" width="24px" height="24px")
                      use(xlink:href="#svg-include")
                    span Included
              .popup__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.