extends ../layouts/master

block title
  title Swan Hellenic | Booking

block basicSeo
  meta(content="This page Cruises" name="description")
  meta(content="Page, Cruises" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main.section-not-green
    section.gapper.section.section-white
      .wrapper
        include ../components/booking-notification