extends ../layouts/master

block title
  title Swan Hellenic | Booking

block basicSeo
  meta(content="This page Cruises" name="description")
  meta(content="Page, Cruises" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main.section-not-green
    include ../mixins/breadcrumbs
    include ../mixins/heading
    section.gapper.section.section-white
      .wrapper
        +breadcrumbs([{href: '#', title: 'CRUISES'}, {type: 'span', title: 'Arctic Islands & Fjords'}])
        +heading('Book Cruise Arctic Islands & Fjords','heading-sm', '')
        include ../components/booking-steps
        .grid.grid-booking
          include ../mixins/button
          include ../mixins/headline
          include ../mixins/card-suite
          .wrapper
            +headline('Stateroom selection', '', 'headline-sm headline-booking')
            .suites.booking
              .suites__wrapper
                .suites__nav
                  .suites__title Guests:
                  .suites__buttons
                    +button('suites__nav__button button-lightgreen active', 'button', '1', '', '', '1', '')
                    +button('suites__nav__button button-lightgreen', 'button', '2', '', '', '2', '')
                .grid.grid-two.suites__container.active(data-id="1")
                  +card-suite('0', 'sale', 'Oceanview D4', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco', 'showFooter', 'Select', true)
                  +card-suite('1', 'sale', 'Oceanview D4', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco', 'showFooter', 'Select', true)
                  +card-suite('2', 'sale', 'Oceanview D4', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco', 'showFooter', 'Select', true)
                  +card-suite('3', '', 'Oceanview D4', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco', 'showFooter', 'Select', true)
                  +card-suite('4', 'sale', 'Oceanview D4', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco', 'showFooter', 'Select', true)
                  +card-suite('5', '', 'Oceanview D4', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco', 'showFooter', 'Select', true)
                .grid.grid-two.suites__container(data-id="2")
                  +card-suite('6', 'sale', 'Oceanview D4', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco', 'showFooter', 'Select', true)
                  +card-suite('7', '', 'Oceanview D4', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco', 'showFooter', 'Select', true)
                +button('button-green-transparent suites__button', 'button', 'View all suite types', '')
          include ../components/sidebar/sidebar-booking