extends ../layouts/master

block title
  title Swan Hellenic | brochures

block basicSeo
  meta(content="This page brochures" name="description")
  meta(content="Page, brochures" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main.section-not-green
    include ../mixins/breadcrumbs
    include ../mixins/heading
    section.gapper.section.section-white
      .wrapper
        +breadcrumbs([{type: 'span', title: 'brochures'}])
        +heading('brochures','heading-sm heading-mb', '')
        .subtext Satisfy your curious travel mind and read about our upcoming expedition seasons.
        include ../components/brochure
        include ../components/brochure
        include ../components/brochure
        include ../components/brochure