extends ../layouts/master

block title
  title Swan Hellenic | Cruise Page

block basicSeo
  meta(content="This page Cruises" name="description")
  meta(content="Page, Cruises" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
    include ../mixins/hero
    include ../mixins/partner-block
    include ../mixins/headline
    include ../mixins/default-slider
    include ../mixins/card-suite
    +hero()
    section.section.section-white.gapper-small-mob
      .section__wrapper
        +partner-block('partner-block-unreversed', false, false, 'YOUR TRIP', 'JRE', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.<br>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. ', '/assets/images/cruise-page/item-1.png', 'item-1')
    section.section.section-white.default-slider(data-slider="default-slider")
      .gapper
        .wrapper
          +headline('HIGHLIGHTS', 'YOUR TRIP', 'headline-note')
          +default-slider('0')
    section.section.section-white
      .gapper-small
        .wrapper
          +headline('ITINERARY', 'CHECK OUT YOUR', 'headline-note headline-centered')
          include ../components/itinerary
    section.section.section-white
      .gapper-small
        .section__wrapper
          include ../components/about-ship
    section.section.section-white
      .gapper-small
        .wrapper
          +headline('YOUR SUITE TYPE', 'CHOOSE', 'headline-note')
          +card-suite('0')
          