extends ../layouts/master

block title
  title Swan Hellenic | Cruise Page

block basicSeo
  meta(content="This page Cruises" name="description")
  meta(content="Page, Cruises" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
    include ../mixins/hero
    include ../mixins/partner-block
    include ../mixins/headline
    include ../mixins/default-slider
    include ../mixins/card
    include ../mixins/button
    include ../mixins/flip-slider
    +hero('hero-cruises', 'cruise', 'WEDDEL SEA & ANTARCTIC PENINSULA', '11 Nights Antarctica Exploration Cruise')
    section.section.section-white.gapper-small-mob.cruise-page__partner
      .wrapper-xl
        .section__wrapper
          +partner-block('partner-block-big partner-block-unreversed', false, false, 'YOUR TRIP', 'Details', '', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.<br>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. ', '/assets/images/cruise-page/item-1.png', 'item-1')
    section.gapper.section.section-white.default-slider(
      data-slider="default-slider"
    )
      .wrapper
        +headline('HIGHLIGHTS', 'YOUR TRIP', 'headline-note headline-xl')
        +default-slider('0')
    section.gapper-small.section.section-white
      .wrapper
        +headline('ITINERARY', 'CHECK OUT YOUR', 'headline-note headline-centered headline-xl')
        include ../components/itinerary
    section.gapper-small.section.section-white
      .wrapper-xl
        .section__wrapper
          .partnerships.partnerships-no-padding
            .partnerships__wrapper
              +partner-block('partner-block-big', false, true, 'YOUR SHIP', 'SH VEGA', '', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.<br>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. ', '/assets/images/cruise-page/item-3.png', 'item-3')
              +partner-block('partner-block-big partner-block-reversed', false, false, 'YOUR', 'Lecturer', 'Name Surname', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.<br>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. ', '/assets/images/cruise-page/item-4.png', 'item-4')
              +flip-slider('', 0, 'flip-slider-transparent', true)
    include ../components/suites
    section.gapper.section.section-white
      .wrapper
        +headline('RELATED CRUISES', 'See also', 'headline-note headline-centered headline-xl')
        .grid.grid__gap.grid__gap-big.grid__gap-bottom.grid-three.grid-offset
          +card('with status', 'with logos', 'sale')
          +card('with status', 'with logos', 'sale')
          +card('with status', 'with logos', 'sale')
        .cruise-page__button
          +button('button-green-transparent', '', 'View all related cruises')