extends ../layouts/master

block title
  title Swan Hellenic | Partnerships

block basicSeo
  meta(content="This page Cruises" name="description")
  meta(content="Page, Cruises" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main.section-not-green
    include ../mixins/breadcrumbs
    include ../mixins/heading
    include ../mixins/button
    section.gapper.section.section-white
      .wrapper-xl
        .wrapper
          +breadcrumbs([ ])
          +heading('Partnerships', '', '', '')
        .section__wrapper
          include ../components/partnerships
        .wrapper
          .partnerships__button
            +button('button-green-transparent', '', 'View all', '', '')