extends ../layouts/master

block title
  title Swan Hellenic | Partners

block basicSeo
  meta(content="This page Partners" name="description")
  meta(content="Page, Partners" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main.section-not-green
    include ../mixins/breadcrumbs
    include ../mixins/heading
    include ../mixins/subheading
    section.gapper.section.section-white
      .wrapper
        +breadcrumbs([{type: 'span', title: 'Partners'}])
        +heading('Partners','heading-sm', '')
        +subheading('Welcome to Swan Hellenic', '', '')
        .subtext.subtext-sm 
          p If you are interested in working with Swan Hellenic or finding out more about the relaunch of the brand, please contact us via the sign-up form or telephone numbers below.
          p As soon as you have signed up, we can share our exciting plans for Swan Hellenic, news on our ships, as well as access to toolkits where you’ll find helpful sales and marketing materials and help you anyway, we can with your enquiry.
          p We are looking forward to welcoming you to the Swan Hellenic family and working with you very soon.
        .partners.grid.grid-partners
          include ../components/partners-form
          include ../components/sidebar/sidebar-partners
        +subheading('Our Office Locations', '', '')
        include ../components/contact-us