extends ../layouts/master

block title
  title Swan Hellenic | Press Centre

block basicSeo
  meta(content="This page Press Centre" name="description")
  meta(content="Page, Press Centre" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main.section-not-green
    include ../mixins/breadcrumbs
    include ../mixins/heading
    include ../mixins/button
    include ../mixins/article
    include ../mixins/subheading
    include ../mixins/default-slider-two
    section.gapper.section.section-white
      .wrapper
        +breadcrumbs([{type: 'span', title: 'Press Centre'}])
        +heading('Press Centre','heading-sm', '')
        +subheading('Press about us', '', '')
        .splide.news-block.news-block-no-margin
          .splide__track
            .splide__list.grid.grid__gap.grid-three.news-block__wrapper
              +article('', '/assets/images/news/item-1.png', 'item-1', 'Which Wildlife you will meet in the Antarctic', 'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es', '')
              +article(' news-block__card-small', '/assets/images/news/item-3.png', 'item-3', 'Which Wildlife you will meet in the Antarctic', 'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es', '')
              +article('', '/assets/images/news/item-3.png', 'item-3', 'Which Wildlife you will meet in the Antarctic', 'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es', '')
              +article(' news-block__card-small', '/assets/images/news/item-1.png', 'item-1', 'Which Wildlife you will meet in the Antarctic', 'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es', '')
        +button('button-green-transparent news-block__button', '', 'View more', '', '')
    section.gapper.section.section-white.section-no-padding-top.default-slider-two(
      data-slider="default-slider"
    )
      .wrapper
        +subheading('About Swan Hellenic', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.', 'subheading-no-margin-top')
        +default-slider-two('0', 'default-slider__list-margin-custom')
        +button('button-green-transparent news-block__button', '', 'download broshure', '', '')
    section.gapper.section.section-white.section-no-padding-top
      .wrapper
        +subheading('Contact Us', '', 'subheading-no-margin-top')
        include ../components/team