mixin article(className='', src, alt, name, text, date)
  a(href="#" class="news-block__card splide__slide" + className)
    article.article
      .article__image
        img(src="" + src alt="" + alt loading="lazy")
      .article__content
        .article__name= name
        .article__text= text
        if date
          time.article__date= date
        if !date
          .article__link Read more