mixin article(className, src, alt, name, date)
  li.article(class="" + className)
    img(src="" + src alt="" + alt)
    .article__wrapper
      .article__description
        .article__name= name
        time.article__date= date