mixin article(className='', src, alt, name, date)
  a(href="#" class="news-block__card splide__slide" + className)
    article.article
      .article__image
        img(src="" + src alt="" + alt loading="lazy")
      .article__wrapper
        .article__content
          .article__name= name
          time.article__date= date