mixin breadcrumbs(links)
  .breadcrumbs
    a(href="/") Home
    span /
    each link in links
      if link.type == 'span'
        span= link.title
      else 
        a(href="" + link.href)= link.title
        span /