mixin card-suite(i)
  .card-suite(
      data-slider="card-suite__slider'"
    )
    .card-suite__wrapper
      .splide.card-suite__slider(class="card-suite__slider" + i + "__track")
        .splide__track
          .card-suite__list.splide__list
            .splide__slide
              img(src="/assets/images/cruise-page/item-6.png", alt="")
            .splide__slide
              img(src="/assets/images/cruise-page/item-6.png", alt="")
            .splide__slide
              img(src="/assets/images/cruise-page/item-6.png", alt="")