include ../mixins/button
mixin card(status, logos, type)
  - className = "";
  - buttonText = "Book now";
  case type
    when type = "sale"
      - className = "card-sale";
    when disabled = "disabled"
      - className = "card-disabled";
      - buttonText = "Sold out";
  .card(class="" + className)
    .card__image
      //- a.card__bubble(href="#") Explore
      a(href="#")
        img(src="/assets/images/card.png" alt="card")
      if status == "with status"
      .card__status
        p Last <span>5</span> spots left
      if logos == "with logos"
      .card__logos
        .card__logo
          img(src="/assets/images/card-logo.png" alt="card-logo")
        .card__logo
          img(src="/assets/images/card-logo.png" alt="card-logo")
        .card__logo
          img(src="/assets/images/card-logo.png" alt="card-logo")
        .card__logo
          img(src="/assets/images/card-logo.png" alt="card-logo")
    .card__bottom
      .card__content
        .card__title Antarctic Peninsula, South Georgia and the South Atlantic Islands
        .card__uid V0623030520
        .card__info
          .card__location
            .card__icon
              svg(viewBox="0 0 24 25" width="24px" height="24px")
                use(xlink:href="#svg-map")
            span Ushuaia - Cape Town
            button.card__map.popup-trigger(
              type="button"
              aria-label="map"
              data-popup-button="map"
            )
              svg(viewBox="0 0 16 16" width="16px" height="16px")
                use(xlink:href="#svg-paper-map")
          .card__ship
            .card__icon
              svg(viewBox="0 0 24 25" width="24px" height="24px")
                use(xlink:href="#svg-ship")
            span SH Vega
          .card__length
            .card__icon
              svg(viewBox="0 0 24 25" width="24px" height="24px")
                use(xlink:href="#svg-calendar")
            span 20 Nights
              .card__period 05.03.23 - 25.03.23
      .card__footer
        .card__prices
          .card__label FROM
          .card__oldprice € 15.095
          .card__price € 15.095
            .card__perperson per person
        +button('button-brown button-no-center card__button', 'button', buttonText, '', '')