mixin card-suite(i)
  .card-suite
    .card-suite__wrapper(data-slider="card-suite-slider")
      .splide.card-suite__slider(class="card-suite-slider" + i + "__track")
        .splide__track
          .splide__list
            .splide__slide
              img(src="/assets/images/cruise-page/item-6.png" alt="")
            .splide__slide
              img(src="/assets/images/cruise-page/item-6.png" alt="")
            .splide__slide
              img(src="/assets/images/cruise-page/item-6.png" alt="")