include ../mixins/button
mixin partner-block(className, buttonGreen, buttonWhite, subtitle, title, text, src, alt)
  .partner-block(class="" + className)
    .wrapper
      .partner-block__wrapper
        .partner-block__content
          if subtitle
            .partner-block__subtitle= subtitle
          .partner-block__title= title
          .partner-block__text !{text}
          if buttonGreen
            +button('button-green', '', 'learn more')
          if buttonWhite
            +button('', '', 'explore MORE')
        .partner-block__image
          img(src="" + src alt="" + alt loading="lazy")
