include ../mixins/button
mixin partner-block(className, title, text, src, alt)
  .partner-block(class="" + className)
    .partner-block__content
      .partner-block__title= title
      .partner-block__text !{text}
      +button('button-green', '', 'learn more')
    .partner-block__image
      img(src="" + src alt="" + alt loading="lazy")
