include ./button
mixin section-with-bg(bg, title, text)
  .section-with-bg
    .section-with-bg__image
      img(src=""+bg, alt="section-with-bg")
    .wrapper
      .section-with-bg__wrapper
        h2.section-with-bg__title= title
        .section-with-bg__content
          .section-with-bg__text= text
          +button('button-white-transparent button-no-center', '', 'Explore more')