.sidebar {
  &-cruises {
    background-color: $white;
    position: fixed;
    width: 100%;
    bottom: -100%;
    min-height: 100vh;
    opacity: 0;
    z-index: 1000;
    left: 0;
    padding: 32px 16px;
    border-radius: 14px 14px 0 0;
    @include screen(laptop) {
      opacity: 1;
      left: auto;
      min-height: auto;
      z-index: auto;
      border-radius: 0;
      padding: 0;
      bottom: auto;
      position: static;
      display: block;
    }
    .sidebar {
      &__title {
        color: $green-200;
        text-transform: uppercase;
        margin-bottom: 54px;
        @include sans-xl-medium;
        display: none;
        @include screen(laptop) {
          display: block;
        }
      }
      &__blocks {
        max-height: calc(100vh - 132px);
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
        @include screen(laptop) {
          max-height: 100%;
          overflow-y: unset;
        }
      }
      &__block {
        margin-top: 20px;
        @include screen(laptop) {
          margin-top: 36px;
        }
        &:first-child {
          margin-top: 0;
        }
      }
      &__tip {
        position: absolute;
        transition:
          opacity $transition-default,
          z-index $transition-default,
          visibility $transition-default;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        top: 32px;
        width: 246px;
        padding: 16px 8px 16px 16px;
        border-radius: 4px;
        border: 1px solid $white-50;
        background-color: $white;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
        @include sans-xs;
        @include screen(laptop) {
          bottom: 32px;
          left: 0;
          top: auto;
        }
        a {
          transition: color $transition-default;
          &:hover {
            color: $fathom;
          }
        }
      }
      &__select {
        margin-top: 8px;
        position: relative;
        &-months {
          display: none;
        }
        &-types {
          .sidebar__select__value {
            &.active {
              background-color: $fathom;
              display: flex;
              align-items: center;
              gap: 4px;
              white-space: nowrap;
              padding: 4px 8px;
              border-radius: 90px;
              position: relative;
              input {
                position: absolute;
              }
              span {
                color: $white;
              }
              svg {
                stroke: $white;
              }
            }
          }
        }
        &__header {
          overflow: hidden;
          border-radius: 100px;
          border: 1px solid $fathom;
          padding: 11px 14px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: rgba(146, 199, 208, 0.3);
          cursor: pointer;
          max-height: 48px;
          min-height: 48px;
          position: relative;
          z-index: 1;
          &:before {
            content: "";
            height: 100%;
            right: 0;
            position: absolute;
            top: 0;
            width: 80px;
            background: linear-gradient(
              270deg,
              #deeef1 46.84%,
              rgba(222, 238, 241, 0) 100%
            );
            z-index: 3;
          }
          input {
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
          }
          span {
            @include sans-sm-medium;
          }
          svg {
            stroke: $fathom;
          }
          &.active {
            .sidebar__select__arrow {
              transform: rotate(180deg);
            }
          }
        }
        &__scroller {
          display: flex;
          align-items: center;
          overflow-x: auto;
          &::-webkit-scrollbar {
            width: 0;
            height: 0;
          }
        }
        &__values {
          display: flex;
          align-items: center;
          gap: 12px;
        }
        &__arrow {
          position: absolute;
          right: 20px;
          transition: transform $transition-default;
          z-index: 4;
        }
        &__list {
          border-radius: 12px;
          width: 100%;
          max-height: 124px;
          overflow-y: auto;
          position: absolute;
          top: 52px;
          padding: 8px 0;
          z-index: -1;
          opacity: 0;
          visibility: hidden;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
          background-color: $white;
          transition:
            opacity $transition-default,
            z-index $transition-default,
            visibility $transition-default;
          &.active {
            opacity: 1;
            z-index: 6;
            visibility: visible;
          }
        }
        &__item {
          padding: 6px 20px;
          transition: background-color $transition-default;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          span {
            @include sans-sm;
          }
          svg {
            display: none;
            fill: $fathom;
          }
          &:hover {
            background-color: $white-300;
          }
          input {
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
            &:checked ~ svg {
              display: block;
            }
          }
          &.active {
            svg {
              display: block;
            }
          }
        }
      }
      &__icon {
        position: relative;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(146, 199, 208, 0.5);
        border-radius: 50%;
        &:hover {
          .sidebar__tip {
            opacity: 1;
            z-index: 2;
            visibility: visible;
          }
        }
        svg {
          stroke: $green-300;
          stroke-width: 0.3px;
          fill: $green-300;
        }
      }
      &__subtitle {
        display: flex;
        align-items: center;
        gap: 8px;
        @include sans-md-medium;
      }
      &__button {
        margin-top: 20px;
        width: calc(100% - 32px);
        position: absolute;
        bottom: 32px;
        transform: translateX(0);
        left: 16px;
        right: 16px;
        @include screen(laptop) {
          width: 100%;
          position: static;
          margin-top: 36px;
          padding: 11px 40px;
        }
        &-hidden {
          @include screen(laptop) {
            display: none;
          }
        }
      }
      &__labels {
        margin-top: 8px;
        display: flex;
        align-items: center;
        gap: 10px;
      }
      &__label {
        text-align: center;
        cursor: pointer;
        width: 100%;
        span {
          width: 100%;
          border-radius: 100px;
          background-color: rgba(146, 199, 208, 0.3);
          padding: 8px;
          color: $fathom;
          transition:
            color $transition-default,
            background-color $transition-default;
          display: inline-block;
          @include sans-base;
          &:hover {
            color: $white;
            background-color: $fathom;
          }
        }
        input {
          width: 0;
          height: 0;
          opacity: 0;
          visibility: hidden;
          &:checked + span {
            color: $white;
            background-color: $fathom;
          }
        }
      }
    }
  }
}