.article {
  height: 100%;
  &__image {
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      max-height: 410px;
      transition: transform $transition-default;
      @include screen(tablet) {
        max-height: 100%;
        min-height: 476px;
      }
    }
  }
  @include screen(hover) {
    &:hover {
      .article__image {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  &__wrapper {
    position: relative;
    width: 100%;
    padding-top: 16px;
    @include screen(tablet) {
      padding: 20px 24px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.35);
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
    @include screen(tablet) {
      height: 100%;
    }
  }
  &__name {
    color: $text;
    @include sans-lg;
    @include line-clamp-2;
    @include screen(tablet) {
      color: $white;
      @include sans-md;
    }
  }
  &__date {
    color: $white-400;
    @include sans-base;
    @include screen(tablet) {
      color: $shice;
      @include sans-md;
    }
  }
}