.button {
  @include button-border;
  transition:
    background-color $transition-default,
    border-color $transition-default;
  &__text {
    transition: color $transition-default;
    @include sans-base-medium;
  }
  &-white-transparent {
    background-color: transparent;
    border-color: $white;
    color: $white;
    @include screen(laptop) {
      &:hover {
        background-color: $white;
        color: $fathom;
      }
    }
  }
  &-green {
    background-color: $fathom;
    border: 1px solid transparent;
    color: $white;
    @include screen(laptop) {
      &:hover {
        background-color: transparent;
        border-color: $fathom;
        color: $fathom;
      }
    }
  }
  &-green-transparent {
    background-color: transparent;
    border-color: $fathom;
    color: $fathom;
    @include screen(laptop) {
      &:hover {
        background-color: $fathom;
        color: $white;
      }
    }
  }
  &-brown {
    background-color: $untold-400;
    border: 1px solid transparent;
    color: $white;
    @include screen(laptop) {
      &:hover {
        background-color: transparent;
        border-color: $untold-400;
        color: $untold-400;
      }
    }
  }
  &-brown-transparent {
    background-color: transparent;
    border: 1px solid $untold-400;
    color: $untold-400;
    @include screen(laptop) {
      &:hover {
        background-color: $untold-400;
        border-color: $untold-400;
        border: $white;
      }
    }
  }
  &-no-center {
    width: auto;
    left: auto;
    transform: translate(0);
  }
}