.button {
  @include button-border;
  transition:
    background-color $transition-default,
    border-color $transition-default;
  &__text {
    color: $fathom;
    transition: color $transition-default;
    @include sans-base-medium;
  }
  &-green {
    border-color: $white;
    background-color: $fathom;
    .button__text {
      color: $white;
    }
    &:hover {
      background-color: $white;
      .button__text {
        color: $fathom;
      }
    }
  }
  &-transparent {
    &:hover {
      background-color: $fathom;
      .button__text {
        color: $white;
      }
    }
  }
  &-no-center {
    left: auto;
    transform: translate(0);
  }
}