.heading {
  margin-top: 28px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include screen(tablet) {
    margin-top: 36px;
  }
  &-mb {
    margin-bottom: 36px;
  }
  &__title {
    text-transform: uppercase;
    color: $fathom;
    @include chap-base;
    @include screen(tablet) {
      @include chap-xl;
    }
  }
  &__icon {
    margin-top: 4px;
    @include screen(laptop) {
      display: none;
    }
  }
  &-sm {
    .heading__title {
      @include chap-sm;
      @include screen(tablet) {
        @include chap-base;
      }
    }
  }
}