.hero {
  &__wrapper {
    position: relative;
    z-index: 3;
    height: 100vh;
  }
  &__images {
    width: 100%;
    height: 100vh;
    position: absolute;
    &:before {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0.35;
    }
    .splide {
      &__track {
        height: 100%;
      }
      &__slide {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &__content {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    @include screen(laptop) {
      padding-top: 0;
      position: absolute;
      width: 100%;
      left: 0;
    }
    .splide {
      &__arrows {
        opacity: 0;
        display: none;
        position: absolute;
        width: 100%;
        transition: opacity $transition-default;
        transition-delay: $transition-default;
        &.active {
          opacity: 1;
          transform: translateY(0);
        }
        @include screen(laptop) {
          display: block;
        }
      }
      &__arrow {
        width: 70px;
        height: 70px;
        z-index: 4;
        opacity: 1;
        svg {
          fill: $white;
          height: auto;
          stroke: transparent;
          width: auto;
          transition: fill $transition-default;
        }
        &--next {
          right: 55px;
        }
        &--prev {
          left: 55px;
        }
        &:hover {
          svg {
            fill: $fathom;
          }
        }
      }
      &__pagination {
        transform: translateY(-50px);
        padding: 0;
        height: auto;
        top: 0;
        bottom: auto;
        justify-content: flex-start;
        @include screen(laptop) {
          display: none;
        }
        li {
          button {
            background-color: $white;
            &.is-active {
              &:before {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
  &__title {
    color: $white;
    max-width: 877px;
    text-transform: uppercase;
    margin: 0 0 8px;
    opacity: 0;
    transform: translateY(-20px);
    transition:
      opacity $transition-default,
      transform $transition-default;
    transition-delay: $transition-default;
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
    @include chap-base;
    @include screen(laptop) {
      margin: 64px auto 16px;
      text-align: center;
      @include chap-2xl;
    }
  }
  &__description {
    color: $white;
    opacity: 0;
    transform: translateY(-20px);
    transition:
      opacity $transition-default,
      transform $transition-default;
    transition-delay: $transition-default * 2;
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
    @include sans-md;
    @include screen(laptop) {
      text-align: center;
      @include sans-2xl-1;
    }
  }
}