.hero {
  &__wrapper {
    position: relative;
    z-index: 3;
    height: 100vh;
  }
  &__tip {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(-20px);
    transition:
      opacity $transition-default,
      transform $transition-default;
    transition-delay: $transition-default;
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
    p {
      position: relative;
      background-color: $untold-400;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      color: $white;
      padding: 12px 24px;
      border-radius: 4px;
    }
    @include sans-xs-v2;
    span {
      @include sans-xs-v2-bold;
    }
    @include screen(laptop) {
      justify-content: center;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__images {
    width: 100%;
    height: 100vh;
    position: absolute;
    &:before {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0.35;
    }
    .splide {
      &__track {
        height: 100%;
      }
      &__slide {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &__content {
    display: flex;
    z-index: 2;
    height: 100vh;
    flex-wrap: wrap;
    @include screen(laptop) {
      align-items: center;
      padding-top: 0;
      justify-content: center;
      flex-wrap: nowrap;
      position: absolute;
      width: 100%;
      left: 0;
    }
    &__container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .splide {
      &__arrows {
        z-index: 3;
        opacity: 0;
        display: none;
        position: absolute;
        width: 100%;
        transition: opacity $transition-default;
        transition-delay: $transition-default;
        &.active {
          opacity: 1;
          transform: translateY(0);
        }
        @include screen(laptop) {
          display: block;
        }
      }
      &__arrow {
        width: 70px;
        height: 70px;
        z-index: 4;
        opacity: 1;
        svg {
          fill: $white;
          height: auto;
          stroke: transparent;
          width: auto;
          transition: fill $transition-default;
        }
        &--next {
          right: 55px;
        }
        &--prev {
          left: 55px;
        }
        @include screen(laptop) {
          &:hover {
            svg {
              fill: $fathom;
            }
          }
        }
      }
      &__pagination {
        padding: 0;
        order: -1;
        position: static;
        align-items: flex-end;
        margin-bottom: 40px;
        opacity: 0;
        transform: translateY(-20px);
        transition:
          opacity $transition-default,
          transform $transition-default;
        &.active {
          opacity: 1;
          transform: translateY(0);
        }
        @include screen(laptop) {
          display: none;
        }
        li {
          button {
            background-color: $white;
            &.is-active {
              &:before {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
  &__title {
    color: $white;
    max-width: 877px;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(-20px);
    transition:
      opacity $transition-default,
      transform $transition-default;
    transition-delay: $transition-default;
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
    @include chap-base;
    @include screen(laptop) {
      margin: 16px auto;
      text-align: center;
      @include chap-2xl;
    }
    @include screen(desktop) {
      margin: 64px auto 16px;
    }
  }
  &__description {
    margin-top: 8px;
    color: $white;
    opacity: 0;
    transform: translateY(-20px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    transition:
      opacity $transition-default,
      transform $transition-default;
    transition-delay: $transition-default * 2;
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
    @include sans-md;
    line-height: 24px;
    @include screen(laptop) {
      @include sans-2xl-1;
    }
  }
  &__footer {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 20px;
    opacity: 0;
    transform: translateY(-20px);
    transition:
      opacity $transition-default,
      transform $transition-default;
    transition-delay: $transition-default * 2;
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @include screen(tablet) {
      bottom: 40px;
    }
  }
  &__number {
    text-transform: uppercase;
    color: $white;
    @include sans-2xs;
    line-height: 14px;
    font-weight: 500;
    @include screen(tablet) {
      @include sans-base-medium;
    }
  }
  &__contacts {
    color: $white;
    text-transform: uppercase;
    border-bottom: 1px solid $white;
    @include sans-2xs;
    line-height: 14px;
    font-weight: 500;
    @include screen(tablet) {
      @include sans-sm-med;
    }
  }
  &-ship {
    .hero__title {
      max-width: 1040px;
      margin-bottom: 16px;
      @include screen(laptop) {
        margin-bottom: 32px;
      }
    }
  }
  &__absolute {
    z-index: 3;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & ~ .hero__content .splide__pagination {
      margin-bottom: 140px;
    }
  }
  &-cruises {
    .hero__title {
      max-width: 1040px;
      margin-bottom: 16px;
      @include screen(desktop) {
        margin-bottom: 32px;
      }
    }
    .hero-filter {
      bottom: 50px;
      &__wrapper {
        max-width: 1240px;
      }
      &__container {
        cursor: default;
      }
      @include screen(tablet) {
        bottom: 100px;
      }
      &__label {
        &:first-child {
          padding-left: 24px;
        }
        &-calendar {
          padding-left: 24px;
          padding-right: 30px;
          .hero-filter__container {
            min-width: 154px;
          }
        }
        &-ship {
          .hero-filter__container {
            min-width: 154px;
          }
        }
        &-guests {
          .hero-filter__container {
            cursor: pointer;
          }
        }
      }
    }
  }
}