.icon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  @include screen(tablet) {
    width: 50%;
  }
  @include screen(laptop) {
    width: auto;
  }
  &__icon {
    width: 112px;
    height: 112px;
    background-color: rgba(146, 199, 208, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
  }
  &__title {
    text-align: center;
    margin-top: 32px;

    @include sans-lg-medium;
  }
  &__text {
    text-align: center;
    margin-top: 16px;

    max-width: 200px;
  }
}