.partner-block {
  position: relative;
  overflow: hidden;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include screen(tablet) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 106px;
    }
  }
  &__surname {
    margin-top: 54px;
    color: $fathom;
    @include sans-3xl;
  }
  &__image {
    order: -1;
    height: 200px;
    @include screen(tablet) {
      height: 100%;
    }
    @include screen(laptop) {
      position: absolute;
      order: 1;
      right: 0;
      max-width: calc(50% - 53px);
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__subtitle {
    color: $green-200;
    margin-bottom: 36px;
    text-transform: uppercase;
    @include sans-base-medium;
  }
  &__title {
    color: $fathom;
    text-transform: uppercase;
    @include chap-sm;
  }
  &__text {
    margin-top: 24px;
    margin-bottom: 24px;
    color: $text;
    @include line-clamp-12;
    @include sans-base;
    @include screen(laptop) {
      margin-top: 48px;
      margin-bottom: 48px;
      @include sans-lg-medium;
    }
  }
  &__content {
    @include screen(laptop) {
      max-width: 535px;
      padding: 65px 0;
    }
  }
  &__button {
    width: 100%;
    @include screen(tablet) {
      width: auto;
    }
  }
  &-unreversed {
    .partner-block__image {
      order: 1;
    }
  }
  &-reversed {
    .partner-block__image {
      @include screen(tablet) {
        order: 1;
      }
      @include screen(laptop) {
        order: -1;
        left: 0;
        right: auto;
      }
    }
    .partner-block__content {
      @include screen(laptop) {
        grid-column-start: 2;
      }
    }
  }
  &-big {
    .partner-block__title {
      @include chap-base;
      @include screen(tablet) {
        @include chap-2lg;
      }
    }
  }
}