.section-with-bg {
  position: relative;
  padding: 60px 0;
  @include screen(laptop) {
    padding: 100px 0;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 340px;
    @include screen(laptop) {
      gap: 267px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
  }
  &__title {
    color: $white;
    text-transform: uppercase;
    @include chap-base;
    @include screen(laptop) {
      @include chap-2xl;
    }
  }
  &__text {
    color: $white;
    max-width: 286px;
    @include sans-sm;
    @include screen(tablet) {
      max-width: 994px;
      @include sans-lg;
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.2);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .button {
    width: 100%;
    @include screen(tablet) {
      width: auto;
    }
  }
}