.popup {
  &.popup-contacts,
  &.popup-callback,
  &.popup-contact-info,
  &.popup-waitlist {
    @include screen(laptop) {
      max-width: 50%;
    }
    .popup {
      &__container {
        gap: 24px;
        padding: 32px 16px 16px;
        @include screen(tablet) {
          max-height: 100vh;
          height: 100vh;
          padding: 50px 60px 32px;
          gap: 32px;
        }
      }
      &__heading {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
      &__title {
        color: $fathom;
        text-transform: uppercase;
        @include chap-base;
        @include screen(tablet) {
          @include chap-xl;
        }
        &-small {
          @include chap-base;
        }
      }
      &__description {
        @include sans-sm;
        @include screen(tablet) {
          @include sans-md;
        }
      }
      &__form {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        overflow-y: auto;
        padding: 0 16px;
        margin: 0 -16px;
        @include screen(tablet) {
          padding: 0 60px;
          margin: 0 -60px;
        }
      }
      &__dropdown {
        display: flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;
        margin-right: 10px;
        position: absolute;
        &__search {
          padding: 8px 0;
          display: flex;
          align-items: center;
        }
        input {
          padding: 0px 0 0 20px;
          border: none;
          width: 148px;
          background-color: $white;
          @include sans-base;
        }
        &__submit {
          position: absolute;
          width: 42px;
          height: 42px;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            stroke: $fathom;
          }
        }
        &__current {
          display: flex;
          align-items: center;
          gap: 8px;
          &.active {
            .popup__arrow {
              transform: rotate(180deg);
            }
          }
        }
        &__check {
          opacity: 0;
          margin-left: 10px;
          stroke: $fathom;
          transition: opacity $transition-default;
        }
        &__flag {
          stroke: transparent;
          max-width: 24px;
          max-height: 24px;
          min-width: 24px;
        }
        &__country {
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;
          gap: 8px;
          transition: background-color $transition-default;
          padding: 6px 20px;
          span {
            white-space: nowrap;
          }
          @include screen(laptop) {
            &:hover {
              background-color: $white-300;
            }
          }
          &.active {
            background-color: $white-300;
            .popup__dropdown__check {
              opacity: 1;
            }
          }
        }
        &__container {
          position: absolute;
          top: 32px;
          left: 0;
          padding: 0 0 8px;
          background-color: $white;
          border-radius: 4px;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
          opacity: 0;
          visibility: hidden;
          min-width: 178px;
          z-index: -1;
          &.active {
            opacity: 1;
            visibility: visible;
            z-index: 3;
          }
        }
        &__list {
          max-height: 144px;
          width: 100%;
          overflow-y: auto;
          transition:
            opacity $transition-default,
            visibility $transition-default,
            z-index $transition-default;
        }
      }
      &__arrow {
        stroke: $green-200;
        transition: transform $transition-default;
      }
      &__inputs {
        margin-top: 22px;
        row-gap: 24px;
        display: grid;
        column-gap: 48px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        @include screen(tablet) {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
      }
      &__input {
        display: flex;
        align-items: center;
        grid-column: span 1 / span 1;
        position: relative;
        & > input {
          padding: 16px 0;
          width: 100%;
          border-bottom: 1px solid $green-200;
          &.error {
            border-color: $red-400;
          }
        }
        .svg__check {
          position: absolute;
          right: 0;
          stroke: $fathom;
        }
        &-phone,
        &-email {
          display: none;
        }
        &-phone {
          & > input {
            padding-left: 58px;
          }
        }
        &-full {
          grid-column: span 1 / span 1;
          @include screen(tablet) {
            grid-column: span 2 / span 2;
          }
          textarea {
            height: 57px;
            max-height: 57px;
            overflow-y: auto;
            padding: 16px 16px 16px 0;
            width: 100%;
            resize: none;
            border-bottom: 1px solid $green-200;
          }
        }
        &.active {
          display: flex;
        }
      }
      &__policy {
        grid-column: span 1 / span 1;
        color: $green-200;
        @include sans-sm-medium;
        @include screen(tablet) {
          grid-column: span 2 / span 2;
        }
        a {
          color: $fathom;
          border-bottom: 1px solid $fathom;
        }
      }
      &__labels {
        align-items: center;
        display: flex;
        gap: 10px;
      }
      &__label {
        position: relative;
        width: 100%;
        @include screen(tablet) {
          max-width: 223px;
        }
        input {
          width: 0;
          height: 0;
          position: absolute;
          opacity: 0;
          &:checked {
            & + span {
              color: $white;
              background-color: $fathom;
            }
          }
        }
        span {
          color: $fathom;
          cursor: pointer;
          width: 100%;
          text-align: center;
          display: inline-block;
          border: 1px solid transparent;
          transition:
            color $transition-default,
            background-color $transition-default,
            border-color $transition-default;
          padding: 8px;
          border-radius: 100px;
          background-color: rgba($shice, 0.3);
          @include sans-md;
          @include screen(tablet) {
            @include sans-xl-base;
          }
          @include screen(laptop) {
            &:hover {
              border-color: $fathom;
            }
          }
        }
      }
      &__button {
        @include screen(tablet) {
          max-width: 223px;
        }
        button {
          width: 100%;
        }
      }
    }
  }
  &.popup-callback {
    .popup {
      &__title {
        @include chap-sm;
        @include screen(tablet) {
          @include chap-base;
        }
      }
      &__inputs {
        margin-top: 10px;
      }
    }
  }
}