.container.amp-plugin {
  transform: translateY(28px) translateX(-30px);
  right: 0;
  left: auto;
  border-radius: 10px;
  width: 311px;
}

.container.amp-plugin main {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #D0D0D0;
}

.calendar {
  padding: 16px 24px 47px;
  background-color: #FFF;
}

.calendar>.header {
  padding: 0;
}

.calendar>.header .month-name {
  color: #001B23;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}

.calendar>.header .month-name>span {
  text-transform: capitalize;
  font-weight: 600;
}

.calendar>.header button {
  width: 32px;
  height: 32px;
  padding: 0;
}

.calendar>.days-grid {
  gap: 2px;
}

.calendar>.header button:hover {
  background-color: #f5f5f5;
}

.calendar>.daynames-row {
  margin: 12px 0;
}

.container.amp-plugin .day {
  padding: 0;
  min-width: 36px;
  min-height: 36px;
  max-width: 36px;
  max-height: 36px;
  width: 36px;
  height: 36px;
}

.calendar>.header button>svg {
  transform: scale(1);
}

.calendar>.daynames-row>.dayname {
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #7A7A7A;
  height: 40px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar>.days-grid>.day {
  color: #001B23;
  font-family: DM Sans, sans-serif;
  font-size: 15px;
  font-weight: 400;
  border-radius: 50%;
  line-height: 28px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.container.amp-plugin .calendars .calendar>.header .month-name select {
  cursor: pointer;
}

.container.amp-plugin .calendars .calendar>.header .month-name select.month-name--dropdown,
.container.amp-plugin .calendars .calendar>.header .month-name span,
.container.amp-plugin .calendars .calendar>.header .month-name select {
  color: #001B23;
  font-family: DM Sans, sans-serif;
  outline: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.1px;
}

.calendar>.days-grid>.day,
.calendar>.days-grid>.day:hover {
  border: none;
}

.calendar>.days-grid>.day:hover,
.calendar>.days-grid>.day.selected {
  background-color: #004155;
  color: #fff;
}

.calendar>.days-grid>.day.today {
  color: #001B23;
}

.calendar>.days-grid>.day.today:hover {
  color: #fff;
}

.container.amp-plugin .calendars .calendar>.header .month-name {
  justify-content: flex-start;
  gap: 6px;
}

.calendar>.header button.reset-button {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 94px;
  height: 33px;
  padding: 6px;
}

.calendar>.header button.next-button {
  position: absolute;
  right: 12px;
  top: 16px;
}

.calendar>.header button.previous-button {
  position: absolute;
  right: 68px;
  top: 16px;
}


@media screen and (max-width: 480px) {
  .container:not(.inline).show {
    bottom: auto!important;
    left: 0!important;
    position: absolute!important;
    right: 0!important;
    top: 10px!important;
    transform: translateY(28px) translateX(-68px)!important;
  }
  .calendars .calendar>.days-grid>.day {
    min-width: 36px;
    min-height: 36px;
    max-width: 36px;
    max-height: 36px;
    width: 36px;
    height: 36px;
  }
  .container.amp-plugin {
    width: 343px;
    max-width: 343px;
  }
  .container.amp-plugin main {
    overflow: hidden;
  }
}