.booking-details
  .booking-details__subtitle Guest 1
  h3.booking-details__title Contact details
  form(action="#").booking-details__form
  .booking-details__inputs
    .booking-details__input
      input(type="text" placeholder="First Name (as it appears in passport) *" autocomplete="on" name="name")
      svg.booking-details__check(viewBox="0 0 12 12" width="12px" height="12px")
        use(xlink:href="#svg-check-small-green")
    .booking-details__input
      input(type="text" placeholder="Last Name (as it appears in passport) *" autocomplete="on" name="surname")
    .booking-details__input.booking-details__input-icone
      svg.booking-details__calendar(viewBox="0 0 24 24" width="24px" height="24px")
        use(xlink:href="#svg-calendar")
      input(type="text" placeholder="Date of Birth" autocomplete="on" name="name")
    .booking-details__input
      input(type="text" placeholder="Middle name" autocomplete="on" name="surname")
  .booking-details__inputs.booking-details__inputs-small
    .booking-details__input.booking-details__input-email(data-input="email")
      input(type="email" placeholder="E-mail *" autocomplete="on" name="email")
    .booking-details__input.booking-details__input-phone.active(data-input="phone")
      .booking-details__dropdown
        button.booking-details__dropdown__current(type="button" aria-label="country")
          svg.booking-details__dropdown__flag(viewBox="0 0 28 20" width="24px" height="24px")
            use(xlink:href="#svg-flag-ru")
          svg.booking-details__arrow(viewBox="0 0 16 16" width="16px" height="16px")
            use(xlink:href="#svg-arrow-down-small")
        .booking-details__dropdown__list
          button.booking-details__dropdown__country(type="button" aria-label="country")
            svg.booking-details__dropdown__flag(viewBox="0 0 28 20" width="24px" height="24px")
              use(xlink:href="#svg-flag-ru")
            span +7
          button.booking-details__dropdown__country(type="button" aria-label="country")
            svg.booking-details__dropdown__flag(viewBox="0 0 28 20" width="24px" height="24px")
              use(xlink:href="#svg-flag-ge")
            span +995
          button.booking-details__dropdown__country(type="button" aria-label="country")
            svg.booking-details__dropdown__flag(viewBox="0 0 28 20" width="24px" height="24px")
              use(xlink:href="#svg-flag-ru")
            span +7
          button.booking-details__dropdown__country(type="button" aria-label="country")
            svg.booking-details__dropdown__flag(viewBox="0 0 28 20" width="24px" height="24px")
              use(xlink:href="#svg-flag-ge")
            span +995
          button.booking-details__dropdown__country(type="button" aria-label="country")
            svg.booking-details__dropdown__flag(viewBox="0 0 28 20" width="24px" height="24px")
              use(xlink:href="#svg-flag-ru")
            span +7
      input(type="tel" placeholder="+7 *" autocomplete="on" name="phone")
    .booking-details__note Booking enquiry details will be sent to this e-mail address
    .booking-details__note We will shortly contact you via this phone number
  h3.booking-details__title Postal address
    .booking-details__input
      input(type="text" placeholder="Street Address 1" autocomplete="on" name="Street Address 1")
    .booking-details__input
      input(type="text" placeholder="Street Address 2" autocomplete="on" name="Street Address 2")
    .booking-details__inputs.booking-details__inputs-third
      .booking-details__input.booking-details__input-small
        input(type="text" placeholder="ZIP/Postal code" autocomplete="on" name="ZIP/Postal code")
      .booking-details__input.booking-details__input-big
        input(type="text" placeholder="City" autocomplete="on" name="City")
    .booking-details__inputs
      .booking-details__input
        input(type="text" placeholder="Region/State" autocomplete="on" name="Region/State")
      .booking-details__input
        input(type="text" placeholder="Country" autocomplete="on" name="Country")
