include ../mixins/button
.broshure
  .broshure__image
    img(src="/assets/images/broshure.png", alt="broshure" loading="lazy")
  .broshure__content
    h3.broshure__title Antarctica 2023-24
    p.broshure__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. <br><br> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
    .broshure__buttons 
      +button('button-green button-no-center', '', 'View Broshure', '', '')
      +button('button-green-transparent button-no-center popup-trigger', 'button', 'Printed Version', '', '', '', 'contact-info')
