include ../mixins/button
.contact-us
  .contact-us__block
    h2.contact-us__title Cyprus Office (Head Office)
    .contact-us__item.contact-us__item-min-md
      .contact-us__subtitle POSTAL ADDRESS
      address 32, Spyrou Kyprianou, ISSA Court, office 201 Larnaca 6058 Cyprus
    .contact-us__item.contact-us__item-min-lg
      .contact-us__subtitle PHONE
      a(href="tel:+49 (0) 211 1386 6125") +49 (0) 211 1386 6125
    .contact-us__item.contact-us__item-min-sm
      .contact-us__subtitle WORKING HOURS
      p Mon - Fri, 09:00 AM – 06:00 PM (EST)
  .contact-us__block
    h2.contact-us__title European Office
    .contact-us__item.contact-us__item-min-md
      .contact-us__subtitle POSTAL ADDRESS
      address Koenigsallee 14, Dusseldorf, 40212
    .contact-us__item.contact-us__item-min-lg
      .contact-us__subtitle PHONE
      a(href="tel:+49 (0) 211 13 866 125") +49 (0) 211 13 866 125
      a(href="tel:+44 (0) 207 846 0271") +44 (0) 207 846 0271
    .contact-us__item.contact-us__item-min-sm
      .contact-us__subtitle WORKING HOURS
      p Mon - Fri, 09:00 AM – 05:30 PM (CET)
  .contact-us__block
    h2.contact-us__title North America Office
    .contact-us__item.contact-us__item-min-md
      .contact-us__subtitle POSTAL ADDRESS
      address 1800 SE 10th Ave Suite 240 Ft Lauderdale, FL33316
    .contact-us__item.contact-us__item-min-lg
      .contact-us__subtitle PHONE
      a(href="tel:+1 (800) 537 6777") +1 (800) 537 6777
    .contact-us__item.contact-us__item-min-sm
      .contact-us__subtitle WORKING HOURS
      p Mon - Fri, 09:00 AM – 06:00 PM (EST)
  .contact-us__block.contact-us__block-hidden
    h2.contact-us__title Hong Kong Office
    .contact-us__item.contact-us__item-min-md
      .contact-us__subtitle POSTAL ADDRESS
      address Suite 1201A, 12/F, Tower 1, Admiralty Centre, 18 Harcourt Road Hong Kong
    .contact-us__item.contact-us__item-min
      .contact-us__subtitle PHONE
      a(href="tel:+852 286 10300") +852 286 10300
    .contact-us__item.contact-us__item-min-sm
      .contact-us__subtitle WORKING HOURS
      p Mon - Fri, 09:00 AM – 06:00 PM (EST)
  .contact-us__block.contact-us__block-hidden
    h2.contact-us__title Australia Office
    .contact-us__item.contact-us__item-min-md
      .contact-us__subtitle POSTAL ADDRESS
      address Suite 14b, Level 1, 123 Clarence St. Sydney NSW 2000
    .contact-us__item.contact-us__item-min-sm
      .contact-us__subtitle PHONE
      a(href="tel:+61 1300 722 499") +61 1300 722 499
    .contact-us__item.contact-us__item-min-sm
      .contact-us__subtitle WORKING HOURS
      p Mon - Fri, 09:00 AM - 05:30 PM (AEST)
+button('button-green-transparent contact-us__button', 'button', 'View all', '' ,'')