include ../mixins/button
.cookie
  .wrapper
    .cookie__wrapper
      .cookie__title Cookies Management
      .cookie__content
        .cookie__description We use cookies to improve our website for you, to adapt it to your needs and interests, and to allow you secure access, which we also share with our partners. Some are necessary, for example, to book a cruise. Others help us understand the behavior of our website visitors and are used for analysis and marketing purposes. You can adjust your cookie consent at any time. More info: <a href="#" target="_blank">Privacy Policy & Imprint</a>
        .cookie__buttons
          +button('button-green button-no-center accept-all-cookies', 'button', 'Accert all cookies', '' , '', '', '')
          +button('button-green-transparent button-no-center popup-trigger', 'button', 'More options', '' , '', '', 'cookie')