include ../mixins/breadcrumbs
include ../mixins/heading
include ../mixins/card
section.gapper.section.section-white
  .wrapper
    .section__wrapper
      +breadcrumbs(
        [
          {
            href: '/cruises',
            title: 'Cruises'
          }
        ]
      )
      +heading(
        'Cruises',
        ''
      )
      .grid.grid-cruises
        .sidebar.sidebar-cruises
        .grid.grid__gap.grid__gap-bottom.grid-two
          +card('with status', 'with logos', '')
          +card('with status', 'with logos', 'sale')
          +card('with status', 'with logos', 'disabled')
          +card('with status', 'with logos', 'sale')
          +card('with status', 'with logos', '')
          +card('with status', 'with logos', 'sale')
          +card('with status', 'with logos', '')
          +card('with status', 'with logos', 'sale')