include ../mixins/breadcrumbs
include ../mixins/heading
include ../mixins/card
include ../mixins/button
section.gapper.section.section-white
  .wrapper
    .section__wrapper
      +breadcrumbs([ {type: 'span', title: 'Cruises'} ])
      +heading('Cruises', '', 'cruises', 'heading__icon-cruises')
      .grid.grid-cruises
        include ./sidebar/sidebar-cruises
        .grid.grid__gap.grid__gap-bottom.grid-two
          +card('with status', 'with logos', '')
          +card('with status', 'with logos', 'sale')
          +card('with status', 'with logos', 'disabled')
          +card('with status', 'with logos', 'sale')
          +card('with status', 'with logos', '')
          +card('with status', 'with logos', 'sale')
          +card('with status', 'with logos', '')
          +card('with status', 'with logos', 'sale')
        +button('button-green-transparent cruises__button', 'button', 'Load more', '' ,'')