include ../mixins/breadcrumbs
include ../mixins/heading
include ../mixins/card
section.gapper.section.section-white
  .wrapper
    .section__wrapper
      +breadcrumbs(
        [
          {
            href: '/cruises',
            title: 'Cruises'
          }
        ]
      )
      +heading(
        'Cruises'
      )
      .grid.grid-cruises
        .sidebar.sidebar-cruises
        .grid.grid__gap.grid__gap-cruises.grid__two
          +card()