.faq
  .faq__wrapper
    .faq__sidebar
      .faq__sticky
        a.faq__link.active(href="#planning")
          svg.faq__link__icon(viewBox="0 0 24 24" width="24px" height="24px")
            use(xlink:href="#svg-selected")
          span Planning
        a.faq__link(href="#antarctica-cruises")
          svg.faq__link__icon(viewBox="0 0 24 24" width="24px" height="24px")
            use(xlink:href="#svg-selected")
          span Antarctica cruises
        a.faq__link(href="#arctic-cruises")
          svg.faq__link__icon(viewBox="0 0 24 24" width="24px" height="24px")
            use(xlink:href="#svg-selected")
          span Arctic cruises
        a.faq__link(href="#before-you-go")
          svg.faq__link__icon(viewBox="0 0 24 24" width="24px" height="24px")
            use(xlink:href="#svg-selected")
          span Before you go
        a.faq__link(href="#life-onboard")
          svg.faq__link__icon(viewBox="0 0 24 24" width="24px" height="24px")
            use(xlink:href="#svg-selected")
          span Life Onboard
    .faq__content
      #planning.faq__block
        h2.faq__title Planning
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      #antarctica-cruises.faq__block
        h2.faq__title Antarctica cruises
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      #arctic-cruises.faq__block
        h2.faq__title Arctic cruises
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      #before-you-go.faq__block
        h2.faq__title Before you go
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      #life-onboard.faq__block
        h2.faq__title Life Onboard
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(viewBox="0 0 24 24" width="24px" height="24px")
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.