.features
  .splide.news-block
    .splide__track
      .splide__list.grid.grid__gap.grid-three.news-block__wrapper
        a.feature.splide__slide.feature-large(href="#")
          .feature__image
            img(src="/assets/images/features/feature-1.png" alt="feature")
          .feature__title Oceans Of Outdoor Space
          .feature__text Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        a.feature.splide__slide(href="#")
          .feature__image
            img(src="/assets/images/features/feature-2.png" alt="feature")
          .feature__title Modern International Delicacies
          .feature__text Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        a.feature.splide__slide(href="#")
          .feature__image
            img(src="/assets/images/features/feature-3.png" alt="feature")
          .feature__title The Expedition Lab
          .feature__text Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        a.feature.splide__slide(href="#")
          .feature__image
            img(src="/assets/images/features/feature-4.png" alt="feature")
          .feature__title Sauna With A View
          .feature__text Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        a.feature.splide__slide(href="#")
          .feature__image
            img(src="/assets/images/features/feature-5.png" alt="feature")
          .feature__title Welcome To Basecamp
          .feature__text Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.