footer.footer
  .wrapper
    .footer__wrapper
      .footer__top
        .footer__grid
          .footer__item
            .footer__subtitle ABOUT US
            .footer__links
              a(href="#").footer__link About Swan Hellenic
              a(href="#").footer__link Sustainability
              a(href="#").footer__link Partners
              a(href="#").footer__link Careers
              a(href="#").footer__link Press
              a(href="#").footer__link Contacts
          .footer__item
            .footer__subtitle LEGAL INFORMATION
            .footer__links
              a(href="#").footer__link Terms of Use
              a(href="#").footer__link Privacy Policy
              a(href="#").footer__link Cookie Policy
              a(href="#").footer__link CoVid-19 Policy
              a(href="#").footer__link Modern Slavery Act
              a(href="#").footer__link Ship Safety
              a(href="#").footer__link Promotional T&C
          .footer__item
            .footer__subtitle THE SWAN EXPERIENCE
            .footer__links
              a(href="#").footer__link What to Expect
              a(href="#").footer__link Expedition Team
              a(href="#").footer__link News
              a(href="#").footer__link FAQ
          .footer__item
            .footer__subtitle USEFUL LINKS
            .footer__links
              a(href="#").footer__link Find a Travel Agent
              a(href="#").footer__link Brochures
              a(href="#").footer__link Promotions
        .footer__grid.footer__grid-two
          .footer__item
            .footer__subtitle MANAGE YOUR BOOKING
            .footer__uploads
              a(href="#" aria-label="svg-android-badge").footer__uplaod
                img(src="/assets/images/svg-android-badge.svg", alt="svg-android-badge")
              a(href="#" aria-label="svg-app-store-badge").footer__uplaod
                img(src="/assets/images/svg-app-store-badge.svg", alt="svg-app-store-badge")
          .footer__item
            .footer__subtitle CONNECT WITH US
            .footer__socials
              a(href="#" target="_blank" aria-label="facebook").footer__social
                <svg width="21px" height="21px" viewBox="0 0 21 21"><use xlink:href="#svg-facebook"></use></svg>
              a(href="#" target="_blank" aria-label="instagram").footer__social
                <svg width="21px" height="21px" viewBox="0 0 21 21"><use xlink:href="#svg-instagram"></use></svg>
              a(href="#" target="_blank" aria-label="youtube").footer__social
                <svg width="21px" height="21px" viewBox="0 0 21 21"><use xlink:href="#svg-youtube"></use></svg>
              a(href="#" target="_blank" aria-label="linkedin").footer__social
                <svg width="25px" height="25px" viewBox="0 0 25 25"><use xlink:href="#svg-linkedin"></use></svg>
      .footer__bottom
        .footer__logos
          a(href="#" target="_blank" aria-label="footer-logo").footer__logo
            img(src="/assets/images/footer-logo1.svg", alt="footer-logo")
          a(href="#" target="_blank" aria-label="footer-logo").footer__logo
            img(src="/assets/images/footer-logo2.svg", alt="footer-logo")
          a(href="#" target="_blank" aria-label="footer-logo").footer__logo
            img(src="/assets/images/footer-logo3.svg", alt="footer-logo")
          a(href="#" target="_blank" aria-label="footer-logo").footer__logo
            img(src="/assets/images/footer-logo4.svg", alt="footer-logo")
        .footer__copy
          .footer__copy__row
            .footer__copy__text.footer__copy__year © <div class="currentYear"></div> Swan Hellenic. All Rights Reserved
            .footer__copy__links
              a(href="#") Cookie Policy
              span |
              a(href="#") Modern Slavery Act
          .footer__copy__row
            .footer__copy__text
              span The website (
              <a href="/">www.swanhellenic.com</a>
              span ) is owned and operated by Swan Hellenic Travel (Themistokli Dervi, 20, Flat/Office 301, Nicosia, 1066, Cyprus)