footer.footer
  .wrapper
    .footer__wrapper
      .footer__top
        .footer__block.footer__block-four
          .footer__item
            button.footer__subtitle(type="button")
              span About us
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-down")
            .footer__links
              a.footer__link(href="#") About Swan Hellenic
              a.footer__link(href="#") Sustainability
              a.footer__link(href="#") Partners
              a.footer__link(href="#") Careers
              a.footer__link(href="#") Press
              a.footer__link(href="#") Contacts
          .footer__item
            button.footer__subtitle(type="button")
              span Legal information
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-down")
            .footer__links
              a.footer__link(href="#") Terms of Use
              a.footer__link(href="#") Privacy Policy
              a.footer__link(href="#") Cookie Policy
              a.footer__link(href="#") CoVid-19 Policy
              a.footer__link(href="#") Modern Slavery Act
              a.footer__link(href="#") Ship Safety
              a.footer__link(href="#") Promotional T&C
          .footer__item
            button.footer__subtitle(type="button")
              span The SWAN experience
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-down")
            .footer__links
              a.footer__link(href="#") What to Expect
              a.footer__link(href="#") Expedition Team
              a.footer__link(href="#") News
              a.footer__link(href="#") FAQ
          .footer__item
            button.footer__subtitle(type="button")
              span Useful links
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-down")
            .footer__links
              a.footer__link(href="#") Find a Travel Agent
              a.footer__link(href="#") Brochures
              a.footer__link(href="#") Promotions
        .footer__block.footer__block-two
          .footer__item
            .footer__subtitle Manage your booking
            .footer__uploads
              a.footer__uplaod(href="#" aria-label="svg-android-badge")
                img(
                  src="/assets/images/svg-android-badge.svg"
                  alt="svg-android-badge"
                )
              a.footer__uplaod(href="#" aria-label="svg-app-store-badge")
                img(
                  src="/assets/images/svg-app-store-badge.svg"
                  alt="svg-app-store-badge"
                )
          .footer__item
            .footer__subtitle Connect with us
            .footer__socials
              a.footer__social(href="#" aria-label="facebook" target="_blank")
                svg(width="21px" height="21px" viewBox="0 0 21 21")
                  use(xlink:href="#svg-facebook")
              a.footer__social(href="#" aria-label="instagram" target="_blank")
                svg(width="21px" height="21px" viewBox="0 0 21 21")
                  use(xlink:href="#svg-instagram")
              a.footer__social(href="#" aria-label="youtube" target="_blank")
                svg(width="21px" height="21px" viewBox="0 0 21 21")
                  use(xlink:href="#svg-youtube")
              a.footer__social(href="#" aria-label="linkedin" target="_blank")
                svg(width="25px" height="25px" viewBox="0 0 25 25")
                  use(xlink:href="#svg-linkedin")
      .footer__bottom
        .footer__logos
          a.footer__logo(href="#" aria-label="footer-logo" target="_blank")
            img(src="/assets/images/footer-logo1.svg" alt="footer-logo")
          a.footer__logo(href="#" aria-label="footer-logo" target="_blank")
            img(src="/assets/images/footer-logo2.svg" alt="footer-logo")
          a.footer__logo(href="#" aria-label="footer-logo" target="_blank")
            img(src="/assets/images/footer-logo3.svg" alt="footer-logo")
          a.footer__logo(href="#" aria-label="footer-logo" target="_blank")
            img(src="/assets/images/footer-logo4.svg" alt="footer-logo")
        .footer__copy
          .footer__copy__row
            .footer__copy__text.footer__copy__year © <div class="currentYear"></div> Swan Hellenic. All Rights Reserved
            .footer__copy__links
              a(href="#").footer__link Cookie Policy
              span |
              a(href="#").footer__link Modern Slavery Act
          .footer__copy__row
            .footer__copy__text
              span The website (
              a href="/" www.swanhellenic.com
              span ) is owned and operated by Swan Hellenic Travel (Themistokli Dervi, 20, Flat/Office 301, Nicosia, 1066, Cyprus)