.header-dropdown__cards
  a(href="#").header-dropdown__card
    img(src="/assets/images/header-dropdown1-card1.png", alt="header-dropdown1-card1")
    .header-dropdown__card__title Antarctic Peninsula, South Georgia & Atlantic Islands
  a(href="#").header-dropdown__card
    img(src="/assets/images/header-dropdown1-card2.png", alt="header-dropdown1-card2")
    .header-dropdown__card__title Norway explored
  a(href="#").header-dropdown__card
    img(src="/assets/images/header-dropdown1-card3.png", alt="header-dropdown1-card3")
    .header-dropdown__card__title Unspoilt Wilds of Southwest Africa
  a(href="#").header-dropdown__card
    img(src="/assets/images/header-dropdown1-card4.png", alt="header-dropdown1-card4")
    .header-dropdown__card__title Pacific Islands: New Caledonia, Vanuatu & Solomon Islands
.header-dropdown__links
  .header-dropdown__links__title More cruises
  a.header-dropdown__link(href="#") Antarctic Peninsula, South Georgia & Atlantic Islands
  a.header-dropdown__link(href="#") Norway explored
  a.header-dropdown__link(href="#") Unspoilt Wilds of Southwest Africa
  a.header-dropdown__link(href="#") Pacific Islands: New Caledonia, Vanuatu & Solomon Islands
  a.header-dropdown__link.header-dropdown__link-more(href="#") All cruises