include ../mixins/headline
include ../mixins/icon-block
section.gapper.section.section-white
  .wrapper.padding-bottom
    +headline('Swan Hellenic', 'Explore to better understand, share and protect', 'headline-centered')
    .splide.icons-block
      .splide__track
        .icons-block__wrapper.splide__list
          +icon-block('/assets/images/icons-block/compass.svg', 'compass', 'Secret shores', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat')
          +icon-block('/assets/images/icons-block/travel.svg', 'travel', 'Journey crafted', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat')
          +icon-block('/assets/images/icons-block/leaf.svg', 'leaf', 'Sustainability', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat')
          +icon-block('/assets/images/icons-block/maps.svg', 'maps', 'Meaningful trip', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat')
          +icon-block('/assets/images/icons-block/ship.svg', 'ship', 'Ships', 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat')