include ../mixins/button
.latest-new
  .latest-new__wrapper
    .latest-new__image
      img(src="/assets/images/latest-new.png", alt="" loading="lazy")
    .latest-new__content
      .latest-new__header
        h3.latest-new__title Amet minim mollit non deserunt ullamco est sit
        .latest-new__date 01.01.2023
      .latest-new__tags
        span press
        span ·
        span ship
        span ·
        span name_teg
        span ·
        span name_teg
      .latest-new__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam emollitconsea...
      +button('button-green button-no-center', '', 'Read all', '', '')