include ../mixins/button
.latest-news
  .latest-news__wrapper
    include ./latest-new.pug
    include ./latest-new.pug
    include ./latest-new.pug
    include ./latest-new.pug
  +button('button-green-transparent', '', 'view more', '', '')