.mob-menu
  .wrapper
    .mob-menu__wrapper
      .mob-menu__list
        .mob-menu__item(data-id="cruises")
          a(href="#").mob-menu__link
            .header__icon
              <svg width="24px" height="25px" viewBox="0 0 24 25"><use xlink:href="#svg-ship"></use></svg>
            span Cruises
          .header__arrow
            <svg width="24px" height="24px" viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
        .mob-menu__item
          a(href="#").mob-menu__link
            span Destinations
          .header__arrow
            <svg width="24px" height="24px" viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
        .mob-menu__item
          a(href="#").mob-menu__link
            span Ships
          .header__arrow
            <svg width="24px" height="24px" viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
        .mob-menu__item
          a(href="#").mob-menu__link
            span Why swan
          .header__arrow
            <svg width="24px" height="24px" viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
        .mob-menu__item
          a(href="#").mob-menu__link
            span Play your trip
          .header__arrow
            <svg width="24px" height="24px" viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
        .mob-menu__item
          a(href="#").mob-menu__link
            span Partnerships
          .header__arrow
            <svg width="24px" height="24px" viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
        .mob-menu__item
          a(href="#").mob-menu__link
            span About us
          .header__arrow
            <svg width="24px" height="24px" viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
        button(type="button").mob-menu__item.mob-menu__item-lang
          .mob-menu__link
            .header__icon
              <svg width="18px" height="18px" viewBox="0 0 18 18"><use xlink:href="#svg-en-uk"></use></svg>
            span EN
          .header__arrow
            <svg width="24px" height="24px" viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
        .mob-menu__contacts
          a(href="#").mob-menu__contact
            span Contact us
          a(href="tel:8 800 555 35 35").mob-menu__contact
            <svg width="24px" height="24px" viewBox="0 0 25 25"><use xlink:href="#svg-phone"></use></svg>
            span 8 800 555 35 35