.mob-menu
  .wrapper
    .mob-menu__wrapper
      .mob-menu__block(data-id="menu")
        .mob-menu__list
          .mob-menu__item.mob-menu__stepper(data-id="cruises")
            a.mob-menu__link(href="#")
              .header__icon
                svg(width="24px" height="25px" viewBox="0 0 24 25")
                  use(xlink:href="#svg-ship")
              span Cruises
            .header__arrow
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-right")
          .mob-menu__item.mob-menu__stepper(data-id="destinations")
            a.mob-menu__link(href="#")
              span Destinations
            .header__arrow
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-right")
          .mob-menu__item.mob-menu__stepper(data-id="ships")
            a.mob-menu__link(href="#")
              span Ships
            .header__arrow
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-right")
          .mob-menu__item.mob-menu__stepper(data-id="why-swan")
            a.mob-menu__link(href="#")
              span Why swan
            .header__arrow
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-right")
          .mob-menu__item.mob-menu__stepper(data-id="plan-your-trip")
            a.mob-menu__link(href="#")
              span Play your trip
            .header__arrow
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-right")
          .mob-menu__item.mob-menu__stepper(data-id="partnerships")
            a.mob-menu__link(href="#")
              span Partnerships
            .header__arrow
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-right")
          .mob-menu__item.mob-menu__stepper(data-id="about-us")
            a.mob-menu__link(href="#")
              span About us
            .header__arrow
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-right")
          .mob-menu__item.mob-menu__item-lang.mob-menu__stepper(data-id="lang")
            .mob-menu__link
              .header__icon
                svg(width="18px" height="18px" viewBox="0 0 18 18")
                  use(xlink:href="#svg-en-uk")
              span EN
            .header__arrow
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-right")
        .mob-menu__contacts
          a.mob-menu__contact(href="#")
            span Contact us
          a.mob-menu__contact(href="tel:8 800 555 35 35")
            svg(width="24px" height="24px" viewBox="0 0 25 25")
              use(xlink:href="#svg-phone")
            span 8 800 555 35 35
      .mob-menu__block(data-id="cruises")
        .mob-menu__heading
          button.mob-menu__heading__back.mob-menu__stepper(type="button" aria-label="button-back" data-id="menu")
            svg(width="24px" height="24px" viewBox="0 0 24 24")
              use(xlink:href="#svg-arrow-left")
          .mob-menu__heading__title Cruises
        .mob-menu__list
          .mob-menu__item.mob-menu__stepper(data-id="cruises-destinations")
            a.mob-menu__link(href="#")
              span Destinations
            .header__arrow
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-right")
          .mob-menu__item.mob-menu__stepper(data-id="cruises-ships")
            a.mob-menu__link(href="#")
              span Ships
            .header__arrow
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-right")
          .mob-menu__item.mob-menu__stepper(data-id="cruises-departures")
            a.mob-menu__link(href="#")
              span Departures
            .header__arrow
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-right")
      .mob-menu__block(data-id="cruises-destinations")
        .mob-menu__heading
          button.mob-menu__heading__back.mob-menu__stepper(type="button" aria-label="button-back" data-id="cruises")
            svg(width="24px" height="24px" viewBox="0 0 24 24")
              use(xlink:href="#svg-arrow-left")
          .mob-menu__heading__title Destinations
        .mob-menu__list
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Africa
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Antarctica
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Artic
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Australia & NZ
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Europe
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Japan
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Mediterranean
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Ocean Voyages
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Pacific Islands
          .mob-menu__item
            a.mob-menu__link(href="#")
              span South America
      .mob-menu__block(data-id="cruises-ships")
        .mob-menu__heading
          button.mob-menu__heading__back.mob-menu__stepper(type="button" aria-label="button-back" data-id="cruises")
            svg(width="24px" height="24px" viewBox="0 0 24 24")
              use(xlink:href="#svg-arrow-left")
          .mob-menu__heading__title Ships
        .mob-menu__list
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Diana
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Minerva
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Vega
      .mob-menu__block(data-id="cruises-departures")
        .mob-menu__heading
          button.mob-menu__heading__back.mob-menu__stepper(type="button" aria-label="button-back" data-id="cruises")
            svg(width="24px" height="24px" viewBox="0 0 24 24")
              use(xlink:href="#svg-arrow-left")
          .mob-menu__heading__title Departures
        .mob-menu__buttons
          button.mob-menu__button.active(type="button" data-id="2023") 2023
          button.mob-menu__button(type="button" data-id="2024") 2024
          button.mob-menu__button(type="button" data-id="2025") 2025
        .mob-menu__years
          .mob-menu__list.mob-menu__year(data-id="2023")
            .mob-menu__item
              a.mob-menu__link(href="#")
                span January
            .mob-menu__item
              a.mob-menu__link(href="#")
                span February
            .mob-menu__item
              a.mob-menu__link(href="#")
                span March
            .mob-menu__item
              a.mob-menu__link(href="#")
                span April
            .mob-menu__item
              a.mob-menu__link(href="#")
                span May
            .mob-menu__item
              a.mob-menu__link(href="#")
                span June
            .mob-menu__item
              a.mob-menu__link(href="#")
                span July
            .mob-menu__item
              a.mob-menu__link(href="#")
                span August
            .mob-menu__item
              a.mob-menu__link(href="#")
                span September
            .mob-menu__item
              a.mob-menu__link(href="#")
                span October
            .mob-menu__item
              a.mob-menu__link(href="#")
                span November
            .mob-menu__item
              a.mob-menu__link(href="#")
                span December
          .mob-menu__list.mob-menu__year(data-id="2024")
            .mob-menu__item
              a.mob-menu__link(href="#")
                span January
            .mob-menu__item
              a.mob-menu__link(href="#")
                span February
            .mob-menu__item
              a.mob-menu__link(href="#")
                span March
            .mob-menu__item
              a.mob-menu__link(href="#")
                span April
            .mob-menu__item
              a.mob-menu__link(href="#")
                span May
            .mob-menu__item
              a.mob-menu__link(href="#")
                span June
            .mob-menu__item
              a.mob-menu__link(href="#")
                span July
            .mob-menu__item
              a.mob-menu__link(href="#")
                span August
            .mob-menu__item
              a.mob-menu__link(href="#")
                span September
            .mob-menu__item
              a.mob-menu__link(href="#")
                span October
            .mob-menu__item
              a.mob-menu__link(href="#")
                span November
            .mob-menu__item
              a.mob-menu__link(href="#")
                span December
          .mob-menu__list.mob-menu__year(data-id="2025")
            .mob-menu__item
              a.mob-menu__link(href="#")
                span January
            .mob-menu__item
              a.mob-menu__link(href="#")
                span February
            .mob-menu__item
              a.mob-menu__link(href="#")
                span March
            .mob-menu__item
              a.mob-menu__link(href="#")
                span April
            .mob-menu__item
              a.mob-menu__link(href="#")
                span May
            .mob-menu__item
              a.mob-menu__link(href="#")
                span June
            .mob-menu__item
              a.mob-menu__link(href="#")
                span July
            .mob-menu__item
              a.mob-menu__link(href="#")
                span August
            .mob-menu__item
              a.mob-menu__link(href="#")
                span September
            .mob-menu__item
              a.mob-menu__link(href="#")
                span October
            .mob-menu__item
              a.mob-menu__link(href="#")
                span November
            .mob-menu__item
              a.mob-menu__link(href="#")
                span December
      .mob-menu__block(data-id="destinations")
        .mob-menu__heading
          button.mob-menu__heading__back.mob-menu__stepper(type="button" aria-label="button-back" data-id="menu")
            svg(width="24px" height="24px" viewBox="0 0 24 24")
              use(xlink:href="#svg-arrow-left")
          .mob-menu__heading__title Destinations
        .mob-menu__list
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Artic
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Anntarctic
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Australia & NZ
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Japan
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Europe
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Medeterranean
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Africa
          .mob-menu__item
            a.mob-menu__link(href="#")
              span South America
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Grand Voyages
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Pacific Islands
      .mob-menu__block(data-id="ships")
        .mob-menu__heading
          button.mob-menu__heading__back.mob-menu__stepper(type="button" aria-label="button-back" data-id="menu")
            svg(width="24px" height="24px" viewBox="0 0 24 24")
              use(xlink:href="#svg-arrow-left")
          .mob-menu__heading__title Ships
        .mob-menu__list
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Diana
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Minerva
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Vega
      .mob-menu__block(data-id="why-swan")
        .mob-menu__heading
          button.mob-menu__heading__back.mob-menu__stepper(type="button" aria-label="button-back" data-id="menu")
            svg(width="24px" height="24px" viewBox="0 0 24 24")
              use(xlink:href="#svg-arrow-left")
          .mob-menu__heading__title Why swan
        .mob-menu__list
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Our difference
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Experience onboard
          .mob-menu__group
            .mob-menu__group__title Cultural Expeditions
            .mob-menu__item
              a.mob-menu__link(href="#")
                span Our expedition team
            .mob-menu__item
              a.mob-menu__link(href="#")
                span Our guest lecturers
          .mob-menu__group
            .mob-menu__group__title What to expect
            .mob-menu__item
              a.mob-menu__link(href="#")
                span Culture
            .mob-menu__item
              a.mob-menu__link(href="#")
                span History
            .mob-menu__item
              a.mob-menu__link(href="#")
                span Nature
            .mob-menu__item
              a.mob-menu__link(href="#")
                span Weather
            .mob-menu__item
              a.mob-menu__link(href="#")
                span Wildlife
      .mob-menu__block(data-id="plan-your-trip")
        .mob-menu__heading
          button.mob-menu__heading__back.mob-menu__stepper(type="button" aria-label="button-back" data-id="menu")
            svg(width="24px" height="24px" viewBox="0 0 24 24")
              use(xlink:href="#svg-arrow-left")
          .mob-menu__heading__title Plan your trip
        .mob-menu__list
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Type of travel
          .mob-menu__item
            a.mob-menu__link(href="#")
              span What’s included
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Ship safety
          .mob-menu__item
            a.mob-menu__link(href="#")
              span F.A.Q
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Find a travel agency
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Brochures
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Promotions
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Mobile App
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Terms & conditions
      .mob-menu__block(data-id="partnerships")
        .mob-menu__heading
          button.mob-menu__heading__back.mob-menu__stepper(type="button" aria-label="button-back" data-id="menu")
            svg(width="24px" height="24px" viewBox="0 0 24 24")
              use(xlink:href="#svg-arrow-left")
          .mob-menu__heading__title Partnerships
        .mob-menu__list
          .mob-menu__item
            a.mob-menu__link(href="#")
              span JRE
          .mob-menu__item
            a.mob-menu__link(href="#")
              span SETI
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Partner 3
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Partner 4
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Partner 5
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Partner 6
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Partner 7
      .mob-menu__block(data-id="about-us")
        .mob-menu__heading
          button.mob-menu__heading__back.mob-menu__stepper(type="button" aria-label="button-back" data-id="menu")
            svg(width="24px" height="24px" viewBox="0 0 24 24")
              use(xlink:href="#svg-arrow-left")
          .mob-menu__heading__title About us
        .mob-menu__list
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Our Story
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Our team
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Sustainabillity
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Our awards
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Blog
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Press center
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Careers
          .mob-menu__item
            a.mob-menu__link(href="#")
              span Contact us
      .mob-menu__block.mob-menu__block-lang(data-id="lang")
        .mob-menu__heading
          button.mob-menu__heading__back.mob-menu__stepper(type="button" aria-label="button-back" data-id="menu")
            svg(width="24px" height="24px" viewBox="0 0 24 24")
              use(xlink:href="#svg-arrow-left")
          .mob-menu__heading__title Language
        .mob-menu__list
          .mob-menu__item.select-language(data-id="ru")
            a.mob-menu__link(href="#")
              span Russian (RU)
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-check")
          .mob-menu__item.select-language.active(data-id="uk")
            a.mob-menu__link(href="#")
              span English (UK)
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-check")
          .mob-menu__item.select-language(data-id="us")
            a.mob-menu__link(href="#")
              span English (US)
              svg(width="24px" height="24px" viewBox="0 0 24 24")
                use(xlink:href="#svg-check")