.mob-search
  .wrapper
    .mob-search__wrapper
      form(action="#").mob-search__form
        .mob-search__blocks
          .mob-search__block.mob-search__block-location
            .mob-search__heading
              <svg width="24px" height="24px" viewBox="0 0 24 25"><use xlink:href="#svg-map"></use></svg>
              .mob-search__title
                span Destination
            .mob-search__labels
              label.mob-search__label
                input(type="radio" name="location" value="Arctic")
                span Arctic
              label.mob-search__label
                input(type="radio" name="location" value="Antarctic")
                span Antarctic
              label.mob-search__label
                input(type="radio" name="location" value="Australia & NZ")
                span Australia & NZ
              label.mob-search__label
                input(type="radio" name="location" value="Japan")
                span Japan
              label.mob-search__label
                input(type="radio" name="location" value="Europe")
                span Europe
              label.mob-search__label
                input(type="radio" name="location" value="Medeterranean")
                span Medeterranean
              label.mob-search__label
                input(type="radio" name="location" value="Africa")
                span Africa
              label.mob-search__label
                input(type="radio" name="location" value="South America")
                span South America
              label.mob-search__label
                input(type="radio" name="location" value="Grand Voyages")
                span Grand Voyages
              label.mob-search__label
                input(type="radio" name="location" value="Pacific Islands")
                span Pacific Islands
          .mob-search__block.mob-search__block-years
            .mob-search__heading
              <svg width="24px" height="24px" viewBox="0 0 24 25"><use xlink:href="#svg-calendar"></use></svg>
              .mob-search__title
                span Year & month
            .mob-search__labels
              label.mob-search__label
                input(type="radio" name="year" value="2023")
                span 2023
              label.mob-search__label
                input(type="radio" name="year" value="2024")
                span 2024
              label.mob-search__label
                input(type="radio" name="year" value="2025")
                span 2025
            .mob-search__labels.mob-search__labels-months
              label.mob-search__label
                input(type="radio" name="month" value="01")
                span Jan
              label.mob-search__label
                input(type="radio" name="month" value="02")
                span Feb
              label.mob-search__label
                input(type="radio" name="month" value="03")
                span Mar
              label.mob-search__label
                input(type="radio" name="month" value="04")
                span Apr
              label.mob-search__label
                input(type="radio" name="month" value="05")
                span May
              label.mob-search__label
                input(type="radio" name="month" value="06")
                span Jun
              label.mob-search__label
                input(type="radio" name="month" value="07")
                span Jul
              label.mob-search__label
                input(type="radio" name="month" value="08")
                span Aug
              label.mob-search__label
                input(type="radio" name="month" value="09")
                span Sep
              label.mob-search__label
                input(type="radio" name="month" value="10")
                span Oct
              label.mob-search__label
                input(type="radio" name="month" value="11")
                span Nov
              label.mob-search__label
                input(type="radio" name="month" value="12")
                span Dec
          .mob-search__block.mob-search__block-ships
            .mob-search__heading
              <svg width="24px" height="24px" viewBox="0 0 24 25"><use xlink:href="#svg-ship"></use></svg>
              .mob-search__title
                span Ship
            .mob-search__labels
              label.mob-search__label
                input(type="radio" name="ship" value="Minerva")
                span Minerva
              label.mob-search__label
                input(type="radio" name="ship" value="Vega")
                span Vega
              label.mob-search__label
                input(type="radio" name="ship" value="Diana")
                span Diana
        .mob-search__buttons
          button(type="submit").mob-search__button.mob-search__button-submit Search cruises
          button(type="button").mob-search__button.mob-search__button-clear Clear filters