include ../mixins/headline
include ../mixins/article
include ../mixins/button
section.gapper-small.section.section-white
  .wrapper
    +headline('Latest news', 'might be interested', 'headline-note headline-centered')
    .splide.news-block
      .splide__track
        .splide__list.grid.grid__gap.grid-three.news-block__wrapper
          +article('', '/assets/images/news/item-1.png', 'item-1', 'Which Wildlife you will meet in the Antarctic', '18.02.2022')
          +article(' news-block__card-small', '/assets/images/news/item-3.png', 'item-3', 'Which Wildlife you will meet in the Antarctic', '18.02.2022')
          +article('', '/assets/images/news/item-3.png', 'item-3', 'Which Wildlife you will meet in the Antarctic', '18.02.2022')
          +article(' news-block__card-small', '/assets/images/news/item-1.png', 'item-1', 'Which Wildlife you will meet in the Antarctic', '18.02.2022')
    +button('button-green-transparent news-block__button', '', 'Watch all news', '', '')