section.not-found
  .wrapper
    .not-found__title 404
    .not-found__text I’m afraid this page has already sailed on by. <br> Please choose another destination of click on the logo to return to the homepage.