a(href="#").promo
  .promo__image
    img(src="/assets/images/promo.png" alt="promo" loading="lazy")
  .promo__content
    time.promo__date 22.02.2022
    .promo__name Excepteur sint occaecat cupidatat non proident
    .promo__link Read more