.ship-about
  .wrapper
    .ship-about__wrapper
      .ship-about__content
        h2.ship-about__title ABOUT SHIP
        .ship-about__description Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      .ship-about__video
        .ship-about__image
          img(
            src="/assets/images/ship-page/item-1.png"
            alt="item-1"
            loading="lazy"
          )
        button.ship-about__button(type="button" aria-label="play")
          svg(viewBox="0 0 48 58" width="48" height="58")
            use(xlink:href="#svg-play")