include ../mixins/button
section.gapper-small.section.section-white
  .wrapper
    .subscribe
      .subscribe__wrapper
        .subscribe__title Subscribe to our newsletter
        .subscribe__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
        form.subscribe__form(action="")
          label.subscribe__label
            input.subscribe__input(
              type="email"
              placeholder="E-mail adress"
              name="email"
              required
            )
            +button('button-green', 'Subscribe', true)
        .subscribe__policy We respect your privacy. By subscribing to our newsletter, you are agreeing to receive news updates and special offers from Swan Hellenic. You may unsubscribe from our communications at any time. Please refer to our <a href="/" target="_blank">privacy policy</a> for full details.