.tags
  .tags__container
    .tags__list
      button.tag.show(type="button" data-tag="1") Nature
      button.tag.show.active(type="button" data-tag="2") Press
      button.tag.show.active(type="button" data-tag="3") Ship
      button.tag.show(type="button" data-tag="4") Company improvement
      button.tag.show(type="button" data-tag="5") Name_Teg
      button.tag.hide(type="button" data-tag="6") Name_Teg
      button.tag.hide(type="button" data-tag="7") Name_Teg
      button.tag.hide(type="button" data-tag="8") Name_Teg
      button.tag.hide(type="button" data-tag="9") Name_Teg
      button.tag.hide(type="button" data-tag="10") Name_Teg
      button.tag.hide(type="button" data-tag="11") Name_Teg
      button.tag.hide(type="button" data-tag="12") Name_Teg
      button.tag.hide(type="button" data-tag="13") Name_Teg
      button.tag.hide(type="button" data-tag="14") Name_Teg
      button.tag.hide(type="button" data-tag="15") Name_Teg
      button.tag.hide(type="button" data-tag="16") Name_Teg
      button.tag.hide(type="button" data-tag="17") Name_Teg
      button.tag.hide(type="button" data-tag="18") Name_Teg
      button.tag.hide(type="button" data-tag="19") Name_Teg
      button.tag.hide(type="button" data-tag="20") Name_Teg
      button.tags__clear(type="button" data-tag="21") Clear tags
  button.popup-trigger.tags__add(type="button" data-popup-button="tags") All tags