.tags 
  .tags__container
    .tags__list
      button(type="button" data-tag="1").tag.show Nature
      button(type="button" data-tag="2").tag.show.active Press
      button(type="button" data-tag="3").tag.show.active Ship
      button(type="button" data-tag="4").tag.show Company improvement
      button(type="button" data-tag="5").tag.show Name_Teg
      button(type="button" data-tag="6").tag.hide Name_Teg
      button(type="button" data-tag="7").tag.hide Name_Teg
      button(type="button" data-tag="8").tag.hide Name_Teg
      button(type="button" data-tag="9").tag.hide Name_Teg
      button(type="button" data-tag="10").tag.hide Name_Teg
      button(type="button" data-tag="11").tag.hide Name_Teg
      button(type="button" data-tag="12").tag.hide Name_Teg
      button(type="button" data-tag="13").tag.hide Name_Teg
      button(type="button" data-tag="14").tag.hide Name_Teg
      button(type="button" data-tag="15").tag.hide Name_Teg
      button(type="button" data-tag="16").tag.hide Name_Teg
      button(type="button" data-tag="17").tag.hide Name_Teg
      button(type="button" data-tag="18").tag.hide Name_Teg
      button(type="button" data-tag="19").tag.hide Name_Teg
      button(type="button" data-tag="20").tag.hide Name_Teg
      button(type="button" data-tag="21").tags__clear Clear tags
  button(type="button" data-popup-button="tags").popup-trigger.tags__add All tags