.team
  .team__wrapper
    .member
      .member__image 
        img(src="/assets/images/member1.png", alt="member1")
      h4.member__title Renato Bodi
      a.member__phone(href="tel:00 41 793746887") 
        svg(viewBox="0 0 24 24" width="24px" height="24px")
          use(xlink:href="#svg-phone")
        span 00 41 793746887
      a.member__email(href="mailto:renato.bodi@twentytwenty.biz") renato.bodi@twentytwenty.biz
    .member
      .member__image 
        img(src="/assets/images/member2.png", alt="member2")
      h4.member__title Patrizia Iantorno
      a.member__phone(href="tel:00 39 3404134306") 
        svg(viewBox="0 0 24 24" width="24px" height="24px")
          use(xlink:href="#svg-phone")
        span 00 39 3404134306
      a.member__email(href="mailto:patrizia.iantorno@swanhellenic.com") patrizia.iantorno@swanhellenic.com
