.travel-agents
  .travel-agents__wrapper
    form.travel-agents__form(action="#")
      label.travel-agents__label
        input.travel-agents__input(type="text" placeholder="Search..." name="search")
        button.travel-agents__button(type="submit")
          svg.travel-agents__icon(
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
          )
            use(xlink:href="#svg-search")
      .travel-agents__result 190 results
      .travel-agents__list.custom-scroll
        .travel-agents__item
          h3.travel-agents__title FROSCH Irvine
          address 18650 MacArthur Blvd., Suite 100 Irvine, CA, 92612, USA
          .travel-agents__subtitle Contacts
          a(href="tel:+1 949-336-1000") +1 949-336-1000
          a(href="mailto:crystal.green@frosch.com") crystal.green@frosch.com
        .travel-agents__item
          h3.travel-agents__title FROSCH Irvine
          address 18650 MacArthur Blvd., Suite 100 Irvine, CA, 92612, USA
          .travel-agents__subtitle Contacts
          a(href="tel:+1 949-336-1000") +1 949-336-1000
          a(href="mailto:crystal.green@frosch.com") crystal.green@frosch.com
        .travel-agents__item
          h3.travel-agents__title FROSCH Irvine
          address 18650 MacArthur Blvd., Suite 100 Irvine, CA, 92612, USA
          .travel-agents__subtitle Contacts
          a(href="tel:+1 949-336-1000") +1 949-336-1000
          a(href="mailto:crystal.green@frosch.com") crystal.green@frosch.com
        .travel-agents__item
          h3.travel-agents__title FROSCH Irvine
          address 18650 MacArthur Blvd., Suite 100 Irvine, CA, 92612, USA
          .travel-agents__subtitle Contacts
          a(href="tel:+1 949-336-1000") +1 949-336-1000
          a(href="mailto:crystal.green@frosch.com") crystal.green@frosch.com
        .travel-agents__item
          h3.travel-agents__title FROSCH Irvine
          address 18650 MacArthur Blvd., Suite 100 Irvine, CA, 92612, USA
          .travel-agents__subtitle Contacts
          a(href="tel:+1 949-336-1000") +1 949-336-1000
          a(href="mailto:crystal.green@frosch.com") crystal.green@frosch.com
        .travel-agents__item
          h3.travel-agents__title FROSCH Irvine
          address 18650 MacArthur Blvd., Suite 100 Irvine, CA, 92612, USA
          .travel-agents__subtitle Contacts
          a(href="tel:+1 949-336-1000") +1 949-336-1000
          a(href="mailto:crystal.green@frosch.com") crystal.green@frosch.com
        .travel-agents__item
          h3.travel-agents__title FROSCH Irvine
          address 18650 MacArthur Blvd., Suite 100 Irvine, CA, 92612, USA
          .travel-agents__subtitle Contacts
          a(href="tel:+1 949-336-1000") +1 949-336-1000
          a(href="mailto:crystal.green@frosch.com") crystal.green@frosch.com
    .travel-agents__map
      canvas