.travel-agents
  .travel-agents__wrapper 
    form(action="#").travel-agents__form
      label.travel-agents__label
        input(type="text" name="search" placeholder="Search...").travel-agents__input
        button(type="submit").travel-agents__button
          svg.travel-agents__icon(viewBox="0 0 24 24" width="24px" height="24px")
            use(xlink:href="#svg-search")
      .travel-agents__result 190 results
      .travel-agents__list.custom-scroll
        .travel-agents__item
          h3.travel-agents__title FROSCH Irvine
          address 18650 MacArthur Blvd., Suite 100 Irvine, CA, 92612, USA
          .travel-agents__subtitle Contacts
          a(href="tel:+1 949-336-1000") +1 949-336-1000
          a(href="mailto:crystal.green@frosch.com") crystal.green@frosch.com
        .travel-agents__item
          h3.travel-agents__title FROSCH Irvine
          address 18650 MacArthur Blvd., Suite 100 Irvine, CA, 92612, USA
          .travel-agents__subtitle Contacts
          a(href="tel:+1 949-336-1000") +1 949-336-1000
          a(href="mailto:crystal.green@frosch.com") crystal.green@frosch.com
        .travel-agents__item
          h3.travel-agents__title FROSCH Irvine
          address 18650 MacArthur Blvd., Suite 100 Irvine, CA, 92612, USA
          .travel-agents__subtitle Contacts
          a(href="tel:+1 949-336-1000") +1 949-336-1000
          a(href="mailto:crystal.green@frosch.com") crystal.green@frosch.com
        .travel-agents__item
          h3.travel-agents__title FROSCH Irvine
          address 18650 MacArthur Blvd., Suite 100 Irvine, CA, 92612, USA
          .travel-agents__subtitle Contacts
          a(href="tel:+1 949-336-1000") +1 949-336-1000
          a(href="mailto:crystal.green@frosch.com") crystal.green@frosch.com
        .travel-agents__item
          h3.travel-agents__title FROSCH Irvine
          address 18650 MacArthur Blvd., Suite 100 Irvine, CA, 92612, USA
          .travel-agents__subtitle Contacts
          a(href="tel:+1 949-336-1000") +1 949-336-1000
          a(href="mailto:crystal.green@frosch.com") crystal.green@frosch.com
        .travel-agents__item
          h3.travel-agents__title FROSCH Irvine
          address 18650 MacArthur Blvd., Suite 100 Irvine, CA, 92612, USA
          .travel-agents__subtitle Contacts
          a(href="tel:+1 949-336-1000") +1 949-336-1000
          a(href="mailto:crystal.green@frosch.com") crystal.green@frosch.com
        .travel-agents__item
          h3.travel-agents__title FROSCH Irvine
          address 18650 MacArthur Blvd., Suite 100 Irvine, CA, 92612, USA
          .travel-agents__subtitle Contacts
          a(href="tel:+1 949-336-1000") +1 949-336-1000
          a(href="mailto:crystal.green@frosch.com") crystal.green@frosch.com
    .travel-agents__map 
      canvas